@model IEnumerable<Dertrix.Models.StudentSubjectGrade>
<head>
    @{
        ViewBag.Title = "Grades";
        var regUserOrgNavBar = Session["regOrgBrandButtonColour"].ToString();
    }
    <style>
		.der-body-content{
            border-color: @regUserOrgNavBar;
            border-style: double;
         }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.css" />
    <link href="~/Main/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<div id="content" class="der-body-content der-clearfix">
    <br />
    <br />
    @Html.Partial("_Widget_SchStaff_Dashboard")
    <div>
        <hr />
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <hr />
    <br />
    <div class="panel panel-default">
        <table id="myTable" class="table table-bordered table-condensed table-striped table-hover table-responsive ">
            <thead>

                <tr style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; background-color:white; border-style: groove; border-left: none; border-right:none; ">
                    <th>
                        Student Id
                    </th>

                    <th>
                        Name
                    </th>
                    <th>
                        Subject
                    </th>
                    <th style="text-align: center;">
                        First Term Grade
                    </th>
                    <th style="text-align: center;">
                        Second Term Grade
                    </th>
                    <th style="text-align: center;">
                        Third Term Grade
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegisteredUser.RegisteredUserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegisteredUser.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.FirstTerm_ExamGrade)
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.SecondTerm_ExamGrade)
                        </td>
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.ThirdTerm_ExamGrade)
                        </td>

                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" style="background-color:white">
                                    <li><a href="#" onclick="UpdateStudentGrade(@item.StudentSubjectGradeId)">Update Student Grade</a></li>
                                    @*<li><a href="#" onclick="ConfirmDeleteSubject(@item.StudentSubjectGradeId)">Remove Subject</a></li>*@
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>


        </table>
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <input type="hidden" id="hiddenStudentSubjectId" />

</div>



@*Delete Subject confirmation Modal*@
<div class="modal fade" id="myModalsubject">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Remove Subject</h3>
			</div>
			<div class="modal-body">
				<h3>Are you sure you want to remove this subject?</h3>
			</div>
			<div class="modal-footer">
				<a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
				<a href="#" class="RegUserOrgButtonColour" onclick="DeleteStudentSubject()">Confirm</a>
			</div>
		</div>
	</div>
</div>


@*Edit Student grades Modal*@
<div class="modal fade" id="myModalUpdateSubject">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Update student Grades</h3>
			</div>
			<div class="modal-body" id="myModalBodyDiv2"></div>
			<div class="modal-footer">
				<a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
				<input type="button" value="Save" class="RegUserOrgButtonColour" id="updateGrade" />
			</div>
		</div>
	</div>
</div>




<script>
	var ConfirmDeleteSubject = function (StudentSubjectId) {
		$("#hiddenStudentSubjectId").val(StudentSubjectId);
		$("#myModalsubject").modal('show');
	}
	var DeleteStudentSubject = function () {
		debugger

		var studentSubjectId = $("#hiddenStudentSubjectId").val();
		$.ajax({
			type: "POST",
            url: "/StudentSubjectGrade/DeleteConfirmed/",
			data: { id: studentSubjectId },
			success: function (response) {
				alert("Subject Deleted");
				$("#myModalsubject").modal("hide");
				window.location.reload();
			}
		})
	}
</script>



<script>
	var UpdateStudentGrade = function (Id) {
		$.ajax({
			type: "GET",
            url: "/StudentSubjectGrade/UpdateStudentGrade",
			data: { Id: Id },
			success: function (response) {
				$("#myModalBodyDiv2").html(response);
				$("#myModalUpdateSubject").modal("show");
			}
		})
	}
</script>


<script>
	$("#updateGrade").click(function () {
		var data = $("#UpdateStudentGradeForm").serialize();
		$.ajax({
			type: "POST",
			url: "/StudentSubjects/Edit",
			data: data,
			success: function (response) {
				alert("Grade Updated");
				$("#myModalUpdateSubject").modal("hide");
				$("#UpdateStudentGradeForm")[0].reset();
				window.location.reload();
			}
		})
	})
</script>

@section scripts{
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#myTable').DataTable(
				{
                    "ordering": false,

				}
			);
		});
	</script>

}
