@model Dertrix.Models.RegisteredUsersGroups

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RegisteredUsersGroups</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrgGroup.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgGroup.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisteredUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisteredUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupTypeId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegisteredUsersGroupsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
