@model Zeus.Models.Org

<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<a href="#" class="RegUserOrgButtonColour" data-toggle="modal" data-target="#myModal">New Org</a>

<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Add New Organisation</h3>

			</div>

			<div class="modal-body">

				<form id="myForm">
					@Html.AntiForgeryToken()

					<div class="form-horizontal">
						<h4>Org</h4>
						<hr />

					



						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="form-group">
							@Html.LabelFor(model => model.OrgName, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.OrgName, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.OrgName, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.OrgAddress, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.OrgAddress, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.OrgAddress, "", new { @class = "text-danger" })
							</div>
						</div>

				

						<div class="form-group">
							@Html.LabelFor(model => model.DomainId, "DomainId", htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.DropDownList("DomainId", null, htmlAttributes: new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.DomainId, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.OrgTypeId, "OrgTypeId", htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.DropDownList("OrgTypeId", null, htmlAttributes: new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.OrgTypeId, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.OrgBrandId, "OrgBrandId", htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.DropDownList("OrgBrandId", null, htmlAttributes: new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.OrgBrandId, "", new { @class = "text-danger" })
							</div>
						</div>


					</div>

				</form>

			</div>

			<div class="modal-footer">
				<a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
				<input type="button" value="Add Organisation" class="btn btn-success" id="btnSubmit" />

			</div>

		</div>

	</div>
</div>



@*<div>
		@Html.ActionLink("Back to List", "Index")
	</div>*@

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
	$(document).ready(function () {
		$("#btnSubmit").click(function () {
			debugger
			var data = $("#myForm").serialize();

			$.ajax({
				type: "POST",
				url: "/Orgs/Create",
				data: data,
				success: function (response) {
					alert("New Org created");
					$("#myModal").modal("hide");
					window.location.reload();


				}
			})
		})
	})

</script>