@model Zeus.Models.RegisteredUser



<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add New User</a>

<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Add New Staff Member </h3>

			</div>
			<div class="modal-body">



				<form id="myForm">

					@Html.AntiForgeryToken()

					<div class="form-horizontal">

						<hr />
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="form-group">
							@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
							</div>
						</div>


						<div class="form-group">
							@Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })

							</div>
						</div>

				

						<div class="form-group">
							@Html.LabelFor(model => model.PrimarySchoolUserRoleId, "Role", htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
							

								@Html.DropDownList("PrimarySchoolUserRoleId", null, "",new { @id = "PrimarySchoolUserRoleId", @class = "form-control" })
								@Html.ValidationMessageFor(model => model.PrimarySchoolUserRoleId, "", new { @class = "text-danger" })
							</div>
						</div>





				






					</div>


				</form>

			</div>

			<div class="modal-footer">
				<a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
				<input type="button" value="Add User" class="btn btn-success" id="btnSubmit" />

			</div>




		</div>


	</div>

</div>










@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
	$(document).ready(function () {
		debugger
		$("#ClassId").hide();
		$("#ClassId0").hide();
		$("#RegisteredUserTypeId").change(function () {
		
			var reg = $("#RegisteredUserTypeId").val();
			if (reg == 13) {
				$("#ClassId").show(function () {
					$("#ClassId").slideDown();
				});
				$("#ClassId0").show(function () {
					$("#ClassId0").slideDown();
				});
			}

				else {
				$("#ClassId").hide(function () {
					$("#ClassId").slideUp();
				});
				$("#ClassId0").hide(function () {
					$("#ClassId0").slideUp();
				});
			}
		})
		$("#btnSubmit").click(function () {
			debugger
			var data = $("#myForm").serialize();
			$.ajax({
				type: "POST",
				url: "/RegisteredUsers/Create",
				data: data,
				success: function (response) {
					alert("New user created");
					$("#myModal").modal("hide");
					$("#myForm")[0].reset();
				}
			})
		})
	})
</script>