@model IEnumerable<Dertrix.Models.Class>






    <table class="table table-bordered table-striped table-condensed" style="margin-left:-25px">
        <tr style="font-family: Trebuchet MS, Tahoma, Arial; color: #666; font-size: 11px; background-color: white; border-style: groove; border-left: none; border-right: none;  ">
            <th style="text-align: center; margin-left: auto; margin-right: auto;">
                Class Teacher
            </th>
            <th style="text-align: center;">
                Class
            </th>
            <th style="text-align: center;">
                All students
            </th>
            <th style="text-align: center;">
                Female students
            </th>
            <th style="text-align: center;">
                Male students
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; background-color:white; border-style: groove; border-left: none; border-right:none; ">
                <td style="text-align: center;">
                    <b>
                        @Html.DisplayFor(modelItem => item.Title.TitleName)
                        @Html.DisplayFor(modelItem => item.ClassTeacherFullName)
                    </b>
                </td>
                <td style="text-align: center;">
                    <b>
                        @Html.DisplayFor(modelItem => item.ClassName)
                    </b>
                </td>
                <td style="text-align: center;">
                    <b>
                        @Html.DisplayFor(modelItem => item.Students_Count)
                    </b>
                </td>
                <td style="text-align: center;">
                    <b>
                        @Html.DisplayFor(modelItem => item.Female_Students_Count)
                    </b>
                </td>
                <td style="text-align: center;">
                    <b>
                        @Html.DisplayFor(modelItem => item.Male_Students_Count)
                    </b>
                </td>
            </tr>
        }

    </table>

