<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@*<title>@ViewBag.Title - @Session["OrgName"].ToString()</title>*@
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:#e2e2e2">
	@if (Session["OrgId"] != null && Session["regUserOrgBrand"] != null)
	{
		var sessionNavbar = Session["regUserOrgBrandBar"].ToString();
		<div class="navbar navbar-inverse navbar-fixed-top" style="background-color:@sessionNavbar">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					@if (Session["OrgId"] != null && Session["OrgLogo"] == null)
					{
						<img src="~/Content/Images/ZeusHorizontal.png" alt="logo" width="190" />

					}
					else
					{
						var sessionLogo = Session["OrgLogo"];
						byte[] bfoo = (byte[])sessionLogo;
						var base64 = Convert.ToBase64String(bfoo);
						var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
						<img src="@imgsrc" />
					}
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right" style="background-color:@sessionNavbar">
						@{
							Html.RenderAction("Regs", "RegisteredUsers");
						}
					</ul>
				</div>
			</div>
		</div>
	}

	<br />
	<br />
	<div class="navbar ">
		@{
			Html.RenderAction("Nav", "RegisteredUsers");
		}
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Zeus</p>
		</footer>
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>