@model IEnumerable<Dertrix.Models.StudentGuardian>


<table class="table table-bordered table-responsive table-condensed table-hover">
    <tr style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; background-color:white; border-style: groove; border-left: none; border-right:none; ">
        <th>
            Dertrix Id
        </th>
        <th>
            Guardian's FullName
        </th>
        <th>
            Email Address
        </th>
        <th>
            Tel
        </th>
        <th>
            Relationship
        </th>
        <th>
            Invites sent
        </th>
        <th>
            Send Invite
        </th>
        <th>
            Unlink
        </th>



    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td>
                <b>This student has no guardian registered</b>
            </td>

        </tr>
    }

    else
    {

        foreach (var item in Model.OrderBy(i => i.GuardianFullName))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisteredUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title.TitleName)
                    @Html.DisplayFor(modelItem => item.GuardianFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GuardianEmailAddress)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Relationship.RelationshipName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountOfInvite)
                </td>
                @if ((int)Session["IsAdmin"] == 1 || Session["IsTester"] != null)
                {
                    <td>
                        <p><a href="#" onclick="SendInvite(@item.StudentGuardianId)"> <i class="fa fa-envelope" style="color:green" aria-hidden="true"></i></a></p>
                    </td>
                    <td>
                        <p><a href="#" onclick="ConfirmDelete(@item.StudentGuardianId)"> <i class="fa fa-trash" style="color:red" aria-hidden="true"></i></a></p>
                    </td>

                }
            </tr>
        }
    }
</table>

<input type="hidden" id="hiddenRegisterUserId" />

@*Delete confirmation Modal*@
<div class="modal fade" id="myModallG">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Remove Guardian</h3>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to unlink this guardian from this student?</h5>
                <hr />
                <p style="color:black" ;><b>Please note :  If this guardian is not linked to any other student in this school, the guardian will be fully <u>deregistered</u> from the system.</b> </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
                <a href="#" class="RegUserOrgButtonColour" onclick="UnlinkGuardian()">Confirm</a>
            </div>
        </div>
    </div>
</div>

<script>
    var SendInvite = function (Id) {
        $.ajax({
            type: "GET",
            url: "/StudentGuardians/SendGuardianEmailInvitation/",
            data: { Id: Id },
            success: function (response) {
                toastr.options.onHidden = function () {
                }
                toastr.options.positionClass = "toast-bottom-full-width";
                toastr.options.progressBar = true;
                toastr.options.timeout = 0;
                toastr.options.extendedTimeOut = 0;
                toastr.options.fadeOut = 500;
                toastr.options.tapToDismiss = false;
                toastr.success("Invitation Email Sent");
            },
            error: function (response) {
                toastr.options.positionClass = "toast-bottom-full-width";
                toastr.options.progressBar = true;
                toastr.options.timeout = 0;
                toastr.options.extendedTimeOut = 0;
                toastr.options.fadeOut = 500;
                toastr.options.tapToDismiss = false;
                toastr.error("Oops, There has been a problem, the system adminstrators have been notified.");
            }
        })
    }
</script>

<script>
    var ConfirmDelete = function (RegisteredUserId) {
        $("#hiddenRegisterUserId").val(RegisteredUserId);
        $("#myModallG").modal('show');
    }
    var UnlinkGuardian = function () {
        var registeredUserId = $("#hiddenRegisterUserId").val();
        $.ajax({
            type: "POST",
            url: "/StudentGuardians/DeleteConfirmed/",
            data: { id: registeredUserId },
            success: function (response) {
                alert("Guardian unlinked");
                $("#myModallG").modal("hide");
                window.location.reload();
            }
        })
    }

</script>


