@model IEnumerable<Dertrix.Models.Subject>


<table class="table table-bordered table-responsive table-condensed table-hover">
	<tr style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; background-color:white; border-style: groove; border-left: none; border-right:none; ">
		<th>
			Class
		</th>
		<th>
			Subject
		</th>
		<th>
	       1st Term Grade
		</th>
		<th>
			2nd Term Grade
		</th>
		<th>
			3rd Term Grade
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Class.ClassName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SubjectName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.First_Term_Exam_MaxGrade)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Second_Term_Exam_MaxGrade)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Third_Term_Exam_MaxGrade)
			</td>
			@*<td>
				@Html.ActionLink("Students Grades", "MySubjects", "StudentSubjectGrade", new { id = item.SubjectId }, null)
			</td>*@
	
		</tr>
	}

</table>
