@model IEnumerable<Zeus.Models.RegisteredUserOrganisation>
@if (Session["RegisteredUserId"] != null)
{
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"></a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-left">

					@if ((int)Session["OrgId"] == 23)
					{
						<li>@Html.ActionLink("Home", "SystemAdminIndex", "Orgs", new { id = 23 }, null)</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li role="presentation" class="active">@Html.ActionLink("Staffs", "Index", "RegisteredUsers")</li>
								<li role="separator" class="divider"></li>
								<li role="separator" class="divider"></li>
							</ul>
						</li>
					}
					@if ((int)Session["OrgId"] != 23)
					{
						var session = ((int)Session["OrgId"]).ToString();

						@*<li><a href="#"><strong> @Session["OrgName"] </strong> </a></li>*@
						<li>@Html.ActionLink( Session["OrgName"].ToString(), "Index", "Orgs", new { id = session }, new { @class = "navbar-brand" })</li>



						<li>@Html.ActionLink("Home", "Index", "Orgs", new { id = session }, null)</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li role="presentation" class="active">@Html.ActionLink("Staffs", "Index", "RegisteredUsers")</li>
								<li role="separator" class="divider"></li>
								<li role="presentation" class="">@Html.ActionLink("Students", "Students", "RegisteredUsers", new { ij = 1 }, null)</li>
								<li role="separator" class="divider"></li>
							</ul>
						</li>
					}
					@if ((int)Session["OrgId"] == 23)
					{
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li role="presentation" class="active">@Html.ActionLink("Portal Set Up", "SysAdminSetUp", "Home")</li>
								<li role="separator" class="divider"></li>
								<li role="presentation" class="active">@Html.ActionLink("Organisation Management", "SystemAdminIndex", "Orgs")</li>
								<li role="separator" class="divider"></li>
								<li role="presentation" class="active">@Html.ActionLink("Class Management", "SystemAdminIndex", "Class")</li>
							</ul>
						</li>
					}
				</ul>


			</div>
		</div>
	</nav>
}