@model IEnumerable<Zeus.Models.RegisteredUserOrganisation>
@if (Session["OrgId"] != null && Session["regUserOrgBrand"] != null)
{

	var sessionNavbarTextColor = Session["regUserOrgNavTextColor"].ToString();
	var regUserOrgNavBar = Session["regUserOrgNavBar"].ToString();

	<head>
	

		<style>
			.navbar-default .navbar-nav > li > a {
				color: @sessionNavbarTextColor;
				font-family: Arial;
				font-weight: bold;
			}
			.navbar .navbar-default {
			background-color: @regUserOrgNavBar
			}

			.dropdown:hover .dropdown-menu {
				display: block;
				
			}


		</style>
	</head>



	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">

				<a class="navbar-brand" href="#"></a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-left">






					@if ((int)Session["OrgId"] == 23)
					{
						var session = ((int)Session["OrgId"]).ToString();


						<li>@Html.ActionLink(Session["OrgName"].ToString(), "Index", "Orgs", new { id = session }, new { @class = "navbar-brand" })</li>


						<li>@Html.ActionLink("HOME", "SystemAdminIndex", "Orgs", new { id = 23 }, null)</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">USERS <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li role="presentation" class="active">@Html.ActionLink("Staffs", "Staffs", "RegisteredUsers")</li>
								<li role="separator" class="divider"></li>
								<li role="separator" class="divider"></li>
							</ul>
						</li>
					}
					@if ((int)Session["OrgId"] != 23)
					{
						var session = ((int)Session["OrgId"]).ToString();


						<li>@Html.ActionLink(Session["OrgName"].ToString(), "Index", "Orgs", new { id = session }, new { @class = "navbar-brand" })</li>



						<li>@Html.ActionLink("HOME", "Index", "Orgs", new { id = session }, null)</li>







						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">POSTINGS <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li role="presentation" class="active">@Html.ActionLink("All postings", "Index", "Posts")</li>
								<li role="separator" class="divider"></li>

							</ul>
						</li>


						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">USERS<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li role="separator" class="divider"></li>
								<li role="presentation" class="active">@Html.ActionLink("Staffs", "Staffs", "RegisteredUsers")</li>
								<li role="separator" class="divider"></li>
								<li role="presentation" class="active">@Html.ActionLink("Students", "Students", "RegisteredUsers")</li>
								<li role="separator" class="divider"></li>
								<li role="presentation" class="active">@Html.ActionLink("Guardians", "Guardians", "RegisteredUsers")</li>

							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SETUP<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li role="separator" class="divider"></li>
								<li role="presentation" class="active">@Html.ActionLink("Stats", "Staffs", "RegisteredUsers")</li>
								<li role="separator" class="divider"></li>
								<li role="presentation" class="active">@Html.ActionLink("Subjects", "Index", "Subjects")</li>
								<li role="separator" class="divider"></li>
								<li role="presentation" class="active">@Html.ActionLink("Student Grades", "Grades", "StudentSubjects")</li>
								<li role="separator" class="divider"></li>
								<li role="presentation" class="active">@Html.ActionLink("Classes", "Index", "Class", new { id = session }, null)</li>
								<li role="separator" class="divider"></li>
								<li role="presentation" class="active">@Html.ActionLink("Groups", "Index", "OrgGroups")</li>
								<li role="separator" class="divider"></li>
								<li role="presentation" class="active">@Html.ActionLink("Config", "SysSetUp", "Home")</li>
							</ul>
						</li>






					}
					@if ((int)Session["OrgId"] == 23)
					{

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SETUP<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li role="presentation" class="active">@Html.ActionLink("Portal Set Up", "SysAdminSetUp", "Home")</li>
								<li role="separator" class="divider"></li>
								<li role="presentation" class="active">@Html.ActionLink("Organisation Management", "SystemAdminIndex", "Orgs")</li>
								<li role="separator" class="divider"></li>
								<li role="presentation" class="active">@Html.ActionLink("Class Management", "SystemAdminIndex", "Class")</li>
							</ul>
						</li>

					}
				</ul>


			</div>
		</div>





	</nav>


}