
@model IEnumerable<Dertrix.Models.RegisteredUserOrganisation>
@if (Session["OrgId"] != null && Session["regUserOrgBrand"] != null)
{
    var currentsession = HttpContext.Current.Session.SessionID.ToString();
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + @Session["FullName"] + "!", "Index", "Posts", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>
            @Html.ActionLink("LogOff", "LogOut", "Access", new { id = @currentsession }, htmlAttributes: new { @class = "navbar-right" })
        </li>
    </ul>


}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Signin", "Access", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
