@model IEnumerable<Zeus.Models.Post>
<head>
	<style>
		.jumbotron p {
			font-size: 15px;
			color: black;
			font-weight: normal;
			margin-top: -9px;
		}
	</style>
</head>
@{
	var postList = new List<object>();
	foreach (var item in Model)
	{
		postList.Add(item);
		if (postList.Count() > 2)
		{
			break;
		}
		<div class="panel panel-default" style="width:auto; ">
			<div class="panel-heading" style="background-color:darkgray;">
				<strong>	@Html.DisplayFor(modelItem => item.PostSubject)</strong>
				<br />
				@Html.DisplayFor(modelItem => item.CreatorFullName) &nbsp;&nbsp;&nbsp; Created: <i>   @Html.DisplayFor(modelItem => item.PostCreationDate)</i>
			</div>
			<hr />
			<div class="panel-body">
				@{
					var maxchar = 150;
					if (item.PostContent.Length < maxchar)
					{
						@Html.Raw(HttpUtility.HtmlDecode(item.PostContent))
					}
					else
					{
						var words = item.PostContent.Split(' ');
						var totalCharacters = 0;
						var summaryWords = new List<string>();
						foreach (var word in words)
						{
							summaryWords.Add(word);
							totalCharacters += word.Length + 1;
							if (totalCharacters > 150)
							{
								break;
							}
						}
						var summary = string.Join(" ", summaryWords) +
							" ...Read More";
						summary.ToString();
						@Html.Raw(HttpUtility.HtmlDecode(summary))
					}
				}
			</div>
		</div>
	}
}