@model Zeus.Models.RegisteredUser



<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Register A New User</a>

<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Add A New User</h3>

			</div>
			<div class="modal-body">



				<form id="myForm">

					@Html.AntiForgeryToken()

					<div class="form-horizontal">

						<hr />
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })




						<div class="form-group">
							@Html.LabelFor(model => model.SelectedOrgList, "Organisation", htmlAttributes: new { @id = "Organisation0", @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.DropDownListFor(model => model.SelectedOrgList, null, "", htmlAttributes: new { @id = "Organisation", @class = "form-control" })
								@Html.ValidationMessageFor(model => model.SelectedOrgList, "", new { @class = "text-danger" })
							</div>
						</div>

				




						<div class="form-group">
							@Html.LabelFor(model => model.RegisteredUserTypeId, "RegisteredUserType", htmlAttributes: new { @id = "RegisteredUserTypeId0"  , @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.DropDownList("RegisteredUserTypeId", null, "", new { @id = "RegisteredUserTypeId", @class = "form-control" })
								@Html.ValidationMessageFor(model => model.RegisteredUserTypeId, "", new { @class = "text-danger" })
							</div>
						</div>





						<div class="form-group">
							@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Email, htmlAttributes: new { @id = "Email0", @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "Email", @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
							</div>
						</div>


						<div class="form-group">
							@Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })

							</div>
						</div>



						<div class="form-group">
							@Html.LabelFor(model => model.PrimarySchoolUserRoleId, "Primary School User Role", htmlAttributes: new { @id = "PrimarySchoolUserRoleId0", @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.DropDownList("PrimarySchoolUserRoleId", null, "", new { @id = "PrimarySchoolUserRoleId", @class = "form-control" })
								@Html.ValidationMessageFor(model => model.PrimarySchoolUserRoleId, "", new { @class = "text-danger" })
							</div>
						</div>



						<div class="form-group">
							@Html.LabelFor(model => model.SecondarySchoolUserRoleId, "Secondary School User Role", htmlAttributes: new { @id = "SecondarySchoolUserRoleId0", @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.DropDownList("SecondarySchoolUserRoleId", null, "", htmlAttributes: new { @id = "SecondarySchoolUserRoleId", @class = "form-control" })
								@Html.ValidationMessageFor(model => model.SecondarySchoolUserRoleId, "", new { @class = "text-danger" })
							</div>
						</div>

					</div>


				</form>

			</div>

			<div class="modal-footer">
				<a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
				<input type="button" value="Add User" class="btn btn-success" id="btnSubmit" />

			</div>




		</div>


	</div>

</div>










@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
	$(document).ready(function () {
		debugger
		$("#PrimarySchoolUserRoleId").hide();
		$("#PrimarySchoolUserRoleId0").hide();
		$("#SecondarySchoolUserRoleId").hide();
		$("#SecondarySchoolUserRoleId0").hide();
		$("#RegisteredUserTypeId").hide();
		$("#RegisteredUserTypeId0").hide();


		$("#Organisation").change(function () {
			var org = $("#Organisation").val();
			if (org != 23) {
				$("#PrimarySchoolUserRoleId").show(function () {
					$("#PrimarySchoolUserRoleId").slideDown();
				});
				$("#PrimarySchoolUserRoleId0").show(function () {
					$("#PrimarySchoolUserRoleId0").slideDown();
				});
				$("#SecondarySchoolUserRoleId").show(function () {
					$("#SecondarySchoolUserRoleId").slideDown();
				});
				$("#SecondarySchoolUserRoleId0").show(function () {
					$("#SecondarySchoolUserRoleId0").slideDown();
				});



				
				$("#RegisteredUserTypeId").hide(function () {
					$("#RegisteredUserTypeId").slideUp();
					});
				$("#RegisteredUserTypeId0").hide(function () {
					$("#RegisteredUserTypeId0").slideUp();
					});

				


		

			}
			else {
				$("#PrimarySchoolUserRoleId").hide(function () {
					$("#PrimarySchoolUserRoleId").slideUp();
				});
				$("#PrimarySchoolUserRoleId0").hide(function () {
					$("#PrimarySchoolUserRoleId0").slideUp();
				});
				$("#SecondarySchoolUserRoleId").hide(function () {
					$("#SecondarySchoolUserRoleId").slideUp();
				});
				$("#SecondarySchoolUserRoleId0").hide(function () {
					$("#SecondarySchoolUserRoleId0").slideUp();
				});





				$("#RegisteredUserTypeId").show(function () {
					$("#RegisteredUserTypeId").slideDown();
				});
				$("#RegisteredUserTypeId0").show(function () {
					$("#RegisteredUserTypeId0").slideDown();
				});

			}



		})

		$("#btnSubmit").click(function () {
			debugger
			var data = $("#myForm").serialize();
			$.ajax({
				type: "POST",
				url: "/RegisteredUsers/Create",
				data: data,
				success: function (response) {
					alert("New user created");
					$("#myModal").modal("hide");
					$("#myForm")[0].reset();
					window.location.reload();

				}
			})
		})
	})
</script>