@model Dertrix.Models.RegisteredUserOrganisation
@if (ViewBag.RegisteredUserOrganisation != null)
{
	foreach (var item in ViewBag.RegisteredUserOrganisation)
	{
<table class="table table-bordered table-striped">
	<tr>
		<td>
			<strong>Full Name</strong>
		</td>
		<td>
			@item.Title.TitleName
			@item.ContactFullName
		</td>
	</tr>
	@*<tr>
			<td>
				<strong>Tel</strong>
			</td>
			<td>
				@item.Telephone
			</td>
		</tr>*@

	<tr>
		<td>
			<strong>Email</strong>
		</td>
		<td>
			@item.Email
		</td>
	</tr>

	@if ((int)Session["OrgType"] == 3)
	{
		<tr>
			<td>
				<strong>Role</strong>
			</td>
			<td>
				@item.PrimarySchoolUserRole.RoleName
			</td>
		</tr>

	}

	@if ((int)Session["OrgType"] == 2)
	{
		<tr>
			<td>
				<strong>Role</strong>
			</td>
			<td>
				@item.SecondarySchoolUserRole.RoleName
			</td>
		</tr>
	}
</table>
	}
}
<hr />
<h3>Groups</h3>
@{
	Html.RenderAction("MyGroups", "RegisteredUsersGroups");
}