@model Dertrix.Models.RegisteredUser

@if (ViewBag.RegisteredUser != null)
{
    <table class="table table-bordered table-responsive table-condensed table-hover">
        <tr style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; background-color:white; border-style: groove; border-left: none; border-right:none; ">
            <th>
                Dertrix Id
            </th>
            <th>
                Full Name
            </th>
            <th>
                Class
            </th>
            <th>
                Gender
            </th>
            <th>
                Religion
            </th>
            <th>
                Tribe
            </th>
            <th>
                Date Of Birth
            </th>
            <th>
                Enrolment Date
            </th>
        </tr>
        @foreach (var item in ViewBag.RegisteredUser)
        {
            <tr>
                <td>
                    @item.RegisteredUserId
                </td>
                <td>
                    @item.ContactFullName
                </td>
                <td>
                    @item.Class.ClassName
                </td>
                <td>
                    @item.Gender.GenderName
                </td>
                <td>
                    @item.Religion.ReligionName
                </td>
                <td>
                    @item.Tribe.TribeName
                </td>
                <td>
                    @item.DateOfBirth.ToShortDateString()
                </td>
                <td>
                    @item.EnrolmentDate.ToShortDateString()
                </td>
            </tr>
        }

    </table>
}
<hr />

<h3>Grades</h3>
<div class="container">
    @{
        Html.RenderAction("DisplayStudentGrades", "StudentSubjectGrade");
    }
</div>

@if ((int)Session["IsAdmin"] == 1 || Session["IsTester"] != null)
{
    <div class="container">
        @{
            Html.RenderAction("LinkGuardianToStudent", "RegisteredUsers");
        }
    </div>
}

<hr />
<h3>Guardians</h3>
@{
    Html.RenderAction("MyGuardians", "StudentGuardians");
}







