@model IEnumerable<Dertrix.Models.RegisteredUser>
<head>
    @{
        ViewBag.Title = "All students";
        var regUserOrgNavBar = Session["regOrgBrandButtonColour"].ToString();
    }
    <style>
		.der-body-content{
            border-color: @regUserOrgNavBar;
            border-style: double;
         }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.css" />
    <link href="~/Main/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<div id="content" class="der-body-content der-clearfix">
    <br />
    <br />
    @Html.Partial("_Widget_SchStaff_Dashboard")
    <div>
        <hr />
        <div class="row">
            @if ((int)Session["IsAdmin"] == 1 || Session["IsTester"] != null)
            {
                <div class="col-md-3">
                    @{
                        Html.RenderAction("AddStudent", "RegisteredUsers");
                    }
                </div>

                <div class="col-md-3">
                    @{
                        Html.RenderAction("UploadStudents", "RegisteredUsers");
                    }

                </div>
                <div class="col-md-3">
                    <p>@Html.ActionLink("Get Upload file", "DownloadStudentTemplateFile", "RegisteredUsers", "", new { @class = "RegUserOrgButtonColour" })</p>
                </div>

            }
            <div class="col-md-3">
            </div>

        </div>
        <hr />
    </div>
    <br />

    <div id="preloader" style="display:none; text-align:center;"><img src="~/Content/Images/loading1.gif" /></div>
    <div class="panel panel-default">
        <table id="myTable" class="table table-bordered table-condensed table-striped table-hover table-responsive standard">
            <thead>

                <tr>
                    <th>
                        Student ID
                    </th>
                    <th>
                        Student Full Name
                    </th>
                    <th>
                        Guardians
                    </th>
                    <th>
                        Class
                    </th>
                    <th>Select Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.OrderBy(i => i.ClassRef))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegisteredUserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PgCount)

                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Class.ClassName)
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" style="background-color:white">
                                    <li><a href="#" onclick="ShowStudent(@item.RegisteredUserId)">View Student Details</a></li>
                                    @if ((int)Session["IsAdmin"] == 1 || Session["IsTester"] != null)
                                    {
                                        <li><a href="#" onclick="EditStudent(@item.RegisteredUserId)">Edit Student Details</a></li>
                                        <li><a href="#" onclick="ChangeStudentClass(@item.RegisteredUserId)">Change Student's Class</a></li>
                                        <li><a href="#" onclick="ConfirmDelete(@item.RegisteredUserId)">Remove Student</a></li>
                                    }
                                    </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
<input type="hidden" id="hiddenRegisterUserId" />
@*Delete confirmation Modal*@
<div class="modal fade" id="myModall">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Remove Student</h3>
            </div>
            <div class="modal-body">
                <h3>Are you sure you want to remove this student?</h3>
            </div>
            <div class="modal-footer">
                <a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
                <a href="#" class="RegUserOrgButtonColour" onclick="DeleteRegisteredUser()">Confirm</a>
            </div>
        </div>
    </div>
</div>
@*View Student Details Modal*@
<div class="modal fade" id="myModalll4">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Student Details</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv"></div>
            <div class="modal-footer">
                <a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>
@*Edit Student Details Modal*@
<div class="modal fade" id="myModallll">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Edit Student Details</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv1"></div>
                    <div class="modal-footer">
                    </div>
         </div>
    </div>
</div>
@*Change Student's Class*@
<div class="modal fade" id="myModalls">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Change Student's Class</h3>
			</div>
			<div class="modal-body" id="myModalBodyDivls"></div>
		</div>
	</div>
</div>
<script>
	var ConfirmDelete = function (RegisteredUserId) {
		$("#hiddenRegisterUserId").val(RegisteredUserId);
		$("#myModall").modal('show');
	}
	var DeleteRegisteredUser = function () {
		var registeredUserId = $("#hiddenRegisterUserId").val();
		$.ajax({
			type: "POST",
			url: "/RegisteredUsers/DeleteConfirmed/",
			data: { id: registeredUserId },
			success: function (response) {
				alert("Student Deleted");
				$("#myModall").modal("hide");
				window.location.reload();
			}
		})
	}
</script>
<script>
    var ShowStudent = function (Id) {
        $.ajax({
            type: "POST",
            url: "/StudentGuardians/MyGuardians",
            data: { Id: Id },
            success: function (response) {
            }
        }),
            $.ajax({
                type: "POST",
                url: "/StudentSubjectGrade/DisplayStudentGrades",
                data: { Id: Id },
                success: function (response) {
                }
            }),

            $.ajax({
                type: "POST",
                url: "/RegisteredUsers/StudentDetails",
                data: { Id: Id },
                beforeSend: function () {
                    $("#preloader").show();
                },
                success: function (response) {
                    $("#myModalBodyDiv").html(response);
                    $("#myModalll4").modal("show");
                },
                complete: function () {
                    $("#preloader").hide();
                }
            })
    }
</script>
<script>
	var EditStudent = function (Id) {
		$.ajax({
			type: "GET",
			url: "/RegisteredUsers/EditStudent",
			data: { Id: Id },
			success: function (response) {
				$("#myModalBodyDiv1").html(response);
				$("#myModallll").modal("show");
			}
		})
	}
</script>
<script>
    var ChangeStudentClass = function (Id) {
		$.ajax({
			type: "GET",
            url: "/RegisteredUsers/ChangeStudentsClass",
			data: { Id: Id },
			success: function (response) {
				$("#myModalBodyDivls").html(response);
				$("#myModalls").modal("show");
			}
		})
	}
</script>


@section scripts{
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#myTable').DataTable(
				{
					"ordering": false,
				}
			);
		});
	</script>
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/custom-validator")
   <script src="~/Scripts/jquery-ui-1.13.1.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/smoothness/jquery-ui.css" />
}






