@model IEnumerable<Zeus.Models.RegisteredUser>

@{
	ViewBag.Title = "Index";
}



	<div>


		@{
			if ((int)Session["RegisteredUserTypeId"] == 1)
			{


				Html.RenderAction("AddSysAdmin", "RegisteredUsers");

			}

			if ((int)Session["OrgId"] != 3)
			{
				Html.RenderAction("AddStaff", "RegisteredUsers");
			}



		

		}

		<a href="#" class="btn btn-primary" data-toggle="modal" data-target="">Filter</a>
	</div>









@*<p>
	@Html.ActionLink("Create New", "Create")
</p>*@
<table class="table table-bordered table-striped">
	<tr>
		<th>
			User ID
		</th>

		<th>
			Full Name
		</th>
		<th>
			
		</th>





		<th></th>
	</tr>

@foreach (var item in Model) {
<tr>
	<td>
		@Html.DisplayFor(modelItem => item.RegisteredUserId)
	</td>


	<td>
		@Html.DisplayFor(modelItem => item.ContactFullName)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.RegisteredUserType.RegisteredUserTypeName)
	</td>






	<td>
		@Html.ActionLink("Edit", "Edit", new { id = item.RegisteredUserId }) |
		@Html.ActionLink("Details", "Details", new { id = item.RegisteredUserId }) |
		@Html.ActionLink("Delete", "Delete", new { id = item.RegisteredUserId })
	</td>
</tr>
}

</table>


@*<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>*@
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
	$(document).ready(function () {
		$("btnSubmit").click(function () {
			debugger
		var data = $("#myForm").serialize();

		$.ajax({
			type: "POST",
			url: "/RegisteredUsers/Create",
			data: data,
			success: function (response) {
				alert("New user created");

			}
		})
		})
	})

</script>