@model IEnumerable<Zeus.Models.RegisteredUser>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.RegisteredUserId)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.RegisteredUserType.RegisteredUserTypeName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ContactFullName)
		</th>

		<th>
			@Html.DisplayNameFor(model => model.Email)
		</th>



		<th></th>
	</tr>

@foreach (var item in Model) {
<tr>
	<td>
		@Html.DisplayFor(modelItem => item.RegisteredUserId)
	</td>

	<td>
		@Html.DisplayFor(modelItem => item.RegisteredUserType.RegisteredUserTypeName)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.ContactFullName)
	</td>

	<td>
		@Html.DisplayFor(modelItem => item.Email)
	</td>




	<td>
		@Html.ActionLink("Edit", "Edit", new { id = item.RegisteredUserId }) |
		@Html.ActionLink("Details", "Details", new { id = item.RegisteredUserId }) |
		@Html.ActionLink("Delete", "Delete", new { id = item.RegisteredUserId })
	</td>
</tr>
}

</table>
