@model IEnumerable<Zeus.Models.RegisteredUser>
<div>
	<div class="row">
		<div class="col-lg-12">
			<p><b>Staff management</b></p>
			<p>
				@using (Html.BeginForm("Staffs", "RegisteredUsers", FormMethod.Get))
				{
					<div class="form-inline">
						id: &nbsp;&nbsp; <input type="text" name="searchid" class="" placeholder="" id="searchid" />&nbsp;&nbsp;
						<input type="hidden" id="hfId" name="searchid" />
						Staff Name: &nbsp;&nbsp; <input type="text" name="searchname" class="" placeholder="" id="searchname" />
						<input type="hidden" id="hfName" name="searchname" />&nbsp;&nbsp;
						&nbsp;&nbsp;
						<button class="RegUserOrgButtonColour">Filter</button>
					</div>
				}
			</p>
		</div>
	</div>
	<br />
	<br />
	<hr />
	<div>
		@{
			Html.RenderAction("AddStaff", "RegisteredUsers");
		}
	</div>
	<br />
</div>
<br />
<div class="panel panel-default">
	<table class="table table-bordered table-striped table-hover table-responsive ">
		<tr style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; ">
			<th>
				Zeus User ID
			</th>
			<th>
				Full Name
			</th>
			<th>
				Class
			</th>
			<th>
			</th>
			<th>
			</th>
			<th></th>
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.RegisteredUserId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ContactFullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Class.ClassName)
				</td>
				<td>
					@*@Html.ActionLink("Edit", "Edit", new { id = item.RegisteredUserId }) |
						@Html.ActionLink("Details", "Details", new { id = item.RegisteredUserId }) |
						@Html.ActionLink("Delete", "Delete", new { id = item.RegisteredUserId })|*@
					<a href="#" class="RegUserOrgButtonColour" onclick="ConfirmDelete(@item.RegisteredUserId)">Remove Staff</a>
					<a href="#" class="RegUserOrgButtonColour" onclick="ShowStudent(@item.RegisteredUserId)">View Staff Details</a>
					<a href="#" class="RegUserOrgButtonColour" onclick="EditStudent(@item.RegisteredUserId)">Edit Staff Details</a>
				</td>
			</tr>
		}
	</table>
	<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<input type="hidden" id="hiddenRegisterUserId" />
</div>
@section scripts{
	@Scripts.Render("~/bundles/jqueryval")
	<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/smoothness/jquery-ui.css" />
	<script type="text/javascript">
		$(function () {
			$("#searchname").autocomplete({
				source: function (request, response) {
					$.ajax({
						url: '/RegisteredUsers/AutoCompleteStaffFullname/',
						data: " {'prefix' : '" + request.term + "'}",
						dataType: "json",
						type: "POST",
						contentType: "application/json; charset=utf-8",
						success: function (data) {
							response($.map(data, function (item) {
								return item;
							}))
						},
						error: function (response) {
							alert(response.responseText);
						},
						failure: function (response) {
							alert(response.responseText);
						}
					});
				},
				select: function (e, i) {
					$("#hfName").val(i.item.val);
				},
				minLength: 0
			});
		});
	</script>
}

