@model IEnumerable<Dertrix.Models.RegisteredUserOrganisation>
<head>
	@{
		ViewBag.Title = "All staffs";
	}
	<style>
		.btn-group:hover .dropdown-menu {
			display: block;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.css" />
	<link href="~/Main/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<div class="jumbotron" style="height:100vh;">
	<br />
	<br />
	@Html.Partial("_WidgetDashboard")
	<div>
		<hr />

		<div class="row">
			@if ((int)Session["IsAdmin"] == 1 || Session["IsTester"] != null)
			{
				<div class="col-md-3">
					@{
						Html.RenderAction("AddStaff", "RegisteredUsers");

					}
				</div>
			}

			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
		</div>
	</div>

	<hr />
	<br />
	<div class="panel panel-default">
		<table id="myTable" class="table table-bordered table-condensed table-striped table-hover table-responsive ">
			<thead>
				<tr style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; background-color:white; border-style: groove; border-left: none; border-right:none; ">
					<th>
						Dertrix User ID
					</th>
					<th>
						Full Name
					</th>
					<th>
						Email Address
					</th>
					<th>
							Role
						</th>
					<th>
						Registration Date
					</th>
					<th>Last Logon Date</th>
					<th>
						Select Action
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.RegisteredUserId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Title.TitleName)
						@Html.DisplayFor(modelItem => item.ContactFullName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.SecondarySchoolUserRole.RoleName)
						@Html.DisplayFor(modelItem => item.PrimarySchoolUserRole.RoleName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EnrolmentDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LastLogOn)
					</td>
					<td>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Action <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" style="background-color:white">
								<li><a href="#" onclick="ShowStaff(@item.RegisteredUserId)">View Staff Details</a></li>
								<li><a href="#" onclick="EditStaff(@item.RegisteredUserId)">Edit Staff Details</a></li>
								<li><a href="#" onclick="ConfirmDelete(@item.RegisteredUserId)">Remove Staff</a></li>
							</ul>
						</div>
					</td>
				</tr>
				}
			</tbody>
		</table>
	</div>

</div>





<input type="hidden" id="hiddenRegisterUserId" />
@*Delete confirmation Modal*@
<div class="modal fade" id="myModall">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Remove Staff</h3>
			</div>
			<div class="modal-body">
				<h3>Are you sure you want to remove this staff?</h3>
			</div>
			<div class="modal-footer">
				<a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
				<a href="#" class="RegUserOrgButtonColour" onclick="DeleteRegisteredUser()">Confirm</a>
			</div>
		</div>
	</div>
</div>
@*View Student Details Modal*@
<div class="modal fade" id="myModalll">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Staff Details</h3>
			</div>
			<div class="modal-body" id="myModalBodyDiv"></div>
			<div class="modal-footer">
				<a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
			</div>
		</div>
	</div>
</div>
@*Edit Student Details Modal*@
<div class="modal fade" id="myModallll">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Edit Staff Details</h3>
			</div>
			<div class="modal-body" id="myModalBodyDiv1"></div>
			<div class="modal-footer">
				<input type="button" value="Cancel" class="RegUserOrgButtonColour" id="cancel" data-dismiss="modal" />
				<input type="button" value="Update" class="RegUserOrgButtonColour" id="edtSubmit" />
			</div>
		</div>
	</div>
</div>
<script>
	var ConfirmDelete = function (RegisteredUserId) {
		$("#hiddenRegisterUserId").val(RegisteredUserId);
		$("#myModall").modal('show');
	}
	var DeleteRegisteredUser = function () {
		var registeredUserId = $("#hiddenRegisterUserId").val();
		$.ajax({
			type: "POST",
			url: "/RegisteredUsers/DeleteConfirmed/",
			data: { id: registeredUserId },
			success: function (response) {
				alert("Staff Deleted");
				$("#myModall").modal("hide");
				window.location.reload();
			}
		})
	}
</script>



<script>
	var ShowStaff = function (Id) {
		$.ajax({
			type: "POST",
			url: "/RegisteredUsersGroups/MyGroups",
			data: { Id: Id },
			success: function (response) {
			}
		}),



		$.ajax({
			type: "POST",
			url: "/RegisteredUsers/StaffDetails",
			data: { Id: Id },
			success: function (response) {
				$("#myModalBodyDiv").html(response);
				$("#myModalll").modal("show");
			}
		})
	

	}
</script>







<script>
	var EditStaff = function (Id) {
		$.ajax({
			type: "GET",
			url: "/RegisteredUsers/EditStaff",
			data: { Id: Id },
			success: function (response) {
				$("#myModalBodyDiv1").html(response);
				$("#myModallll").modal("show");
			}
		})
	}
</script>
<script>
	$("#edtSubmit").click(function () {
		var data = $("#StaffEditForm").serialize();
		$.ajax({
			type: "POST",
			url: "/RegisteredUsers/Edit",
			data: data,
			success: function (response) {
				alert("Staff Updated");
				$("#myModal").modal("hide");
				$("#StaffEditForm")[0].reset();
				window.location.reload();
			}
		})
	})
</script>
@section scripts{
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#myTable').DataTable(
				{
					"ordering": false,
				}
			);
		});
	</script>
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/custom-validator")
	<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/smoothness/jquery-ui.css" />
}