@model IEnumerable<Zeus.Models.RegisteredUser>



	<div class="panel panel-default">
	
		<div class="panel-heading">Classes</div>
		<div class="panel-body">

			<ul class="nav nav-pills nav-justified">
				<li role="presentation" class="">@Html.ActionLink("Primary 1", "Students", "RegisteredUsers", new { ij = 1 }, null)</li>
				<li role="presentation" class="">@Html.ActionLink("Primary 2", "Students", "RegisteredUsers", new { ij = 2 }, null)</li>
				<li role="presentation" class="">@Html.ActionLink("Primary 3", "Students", "RegisteredUsers", new { ij = 3 }, null)</li>
				<li role="presentation" class="">@Html.ActionLink("Primary 4", "Students", "RegisteredUsers", new { ij = 4 }, null)</li>
				<li role="presentation" class="">@Html.ActionLink("Primary 5", "Students", "RegisteredUsers", new { ij = 5 }, null)</li>
				<li role="presentation" class="">@Html.ActionLink("Primary 6", "Students", "RegisteredUsers", new { ij = 6 }, null)</li>
			</ul>

	
		</div>








		<div>
			@{
				Html.RenderAction("AddStudent", "RegisteredUsers");
			}

			<a href="#" class="btn btn-primary" data-toggle="modal" data-target="">Filter</a>
		</div>




		@*<p>
			@Html.ActionLink("Create New", "Create")
		</p>*@
		<table class="table table-striped table-bordered">
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.ContactFullName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Class.ClassName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Gender.GenderName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DateOfBirth)
				</th>

				<th></th>
			</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.ContactFullName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Class.ClassName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Gender.GenderName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DateOfBirth)
					</td>


					<td>
						@Html.ActionLink("Edit", "Edit", new { id = item.RegisteredUserId }) |
						@Html.ActionLink("Details", "Details", new { id = item.RegisteredUserId }) |
						@Html.ActionLink("Delete", "Delete", new { id = item.RegisteredUserId })
					</td>
				</tr>
			}

		</table>

</div>