@model IEnumerable<Zeus.Models.RegisteredUser>
<div>
	<div class="row">
		<div class="col-lg-12">
			<p>
				<b>Student management</b>
			</p>
			<p>
				@using (Html.BeginForm("Students", "RegisteredUsers", FormMethod.Get))
				{

					<div class="form-inline">
						id: &nbsp;&nbsp;
						<input type="text" name="searchid" class="" placeholder="" id="searchid" />&nbsp;&nbsp;

						<input type="hidden" id="hfId" name="searchid" />
						Student Name: &nbsp;&nbsp;
						<input type="text" name="searchname" class="" placeholder="" id="searchname" />
						<input type="hidden" id="hfName" name="searchname" />&nbsp;&nbsp;
						Class: &nbsp;&nbsp;

						<select class="" id="classid" name="ij">
							<option>Select Class</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
						</select>
						&nbsp;&nbsp;

						<button class="RegUserOrgButtonColour">Filter</button>
					</div>
				}

			</p>
		</div>
	</div>
	<br />
	<br />
	<hr />

	<div class="row">
		<div class="col-md-3">
			@{
				Html.RenderAction("AddStudent", "RegisteredUsers");
			}
		</div>

		<div class="col-md-3">
			@Html.ActionLink("Download all students", "Index", "Domains", "", new { @class = "RegUserOrgButtonColour" })
		</div>

		<div class="col-md-3">
			@Html.ActionLink("Get upload file template", "Index", "Domains", "", new { @class = "RegUserOrgButtonColour" })
		</div>
		<div class="col-md-3">
			@Html.ActionLink("Upload students", "Index", "Domains", "", new { @class = "RegUserOrgButtonColour" })
		</div>
	</div>

</div>
<br />
<div class="panel panel-default">
	<table class="table table-bordered table-striped table-hover table-responsive ">
		<tr style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; ">
			<th>
				Student ID
			</th>
			<th>
				Student Full Name
			</th>
			<th>
				Class
			</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		@foreach (var item in Model)
		{

			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.RegisteredUserId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ContactFullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Class.ClassName)
				</td>
				<td>
				

					<a href="#" class="RegUserOrgButtonColour" onclick="ConfirmDelete(@item.RegisteredUserId)">Remove Student</a>
					<a href="#" class="RegUserOrgButtonColour" onclick="ShowStudent(@item.RegisteredUserId)">View Student Details</a>
					<a href="#" class="RegUserOrgButtonColour" onclick="EditStudent(@item.RegisteredUserId)">Edit Student Details</a>
				</td>
			</tr>
		}

	</table>
	<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<input type="hidden" id="hiddenRegisterUserId" />
</div>





@*Delete confirmation Modal*@
<div class="modal fade" id="myModall">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Remove Student</h3>
			</div>
			<div class="modal-body">
				<h3>Are you sure you want to remove this student?</h3>
			</div>
			<div class="modal-footer">
				<a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
				<a href="#" class="RegUserOrgButtonColour" onclick="DeleteRegisteredUser()">Confirm</a>
			</div>
		</div>
	</div>
</div>




@*View Student Details Modal*@
<div class="modal fade" id="myModalll">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Student Details</h3>
			</div>
			<div class="modal-body" id="myModalBodyDiv"></div>
			<div class="modal-footer">
				<a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
			</div>
		</div>
	</div>
</div>




@*Edit Student Details Modal*@
<div class="modal fade" id="myModallll">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Edit Student Details</h3>
			</div>
			<div class="modal-body" id="myModalBodyDiv1"></div>
			<div class="modal-footer">
				<a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
				<input type="button" value="Update" class="RegUserOrgButtonColour" id="edtSubmit" />
			</div>
		</div>
	</div>
</div>




<script>
	var ConfirmDelete = function (RegisteredUserId) {
		$("#hiddenRegisterUserId").val(RegisteredUserId);
		$("#myModall").modal('show');
	}
	var DeleteRegisteredUser = function () {
		var registeredUserId = $("#hiddenRegisterUserId").val();
		$.ajax({
			type: "POST",
			url: "/RegisteredUsers/DeleteConfirmed/",
			data: { id: registeredUserId },
			success: function (response) {
				alert("Student Deleted");
				$("#myModall").modal("hide");
				$("#StudentForm")[0].reset();
				window.location.reload();
			}
		})
	}
</script>
<script>
	var ShowStudent = function (Id) {
		$.ajax({
			type: "POST",
			url: "/RegisteredUsers/StudentDetails",
			data: { Id: Id },
			success: function (response) {
				$("#myModalBodyDiv").html(response);
				$("#myModalll").modal("show");
			}
		})
	}
</script>
<script>
	var EditStudent = function (Id) {
		$.ajax({
			type: "GET",
			url: "/RegisteredUsers/EditStudent",
			data: { Id: Id },
			success: function (response) {
				$("#myModalBodyDiv1").html(response);
				$("#myModallll").modal("show");
			}
		})
	}
</script>
<script>
	$("#edtSubmit").click(function () {
		var data = $("#myForm").serialize();
		$.ajax({
			type: "POST",
			url: "/RegisteredUsers/Edit",
			data: data,
			success: function (response) {
				alert("New user Updated");
				$("#myModal").modal("hide");
				$("#myForm")[0].reset();
				window.location.reload();
			}
		})
	})
</script>
@section scripts{
	@Scripts.Render("~/bundles/jqueryval")

	<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/smoothness/jquery-ui.css" />
	<script type="text/javascript">
		$(function () {
			$("#searchname").autocomplete({
				source: function (request, response) {
					$.ajax({
						url: '/RegisteredUsers/AutoCompleteStudentFullname/',
						data: " {'prefix' : '" + request.term + "'}",
						dataType: "json",
						type: "POST",
						contentType: "application/json; charset=utf-8",
						success: function (data) {
							response($.map(data, function (item) {
								return item;
							}))
						},
						error: function (response) {
							alert(response.responseText);
						},
						failure: function (response) {
							alert(response.responseText);
						}
					});
				},
				select: function (e, i) {
					$("#hfName").val(i.item.val);
				},
				minLength: 0
			});
		});
	</script>
}


