@model IEnumerable<Dertrix.Models.OrgBrand>
<head>
    @{
        ViewBag.Title = "Org brands table";
        var regUserOrgNavBar = Session["regOrgBrandButtonColour"].ToString();
    }
    <style>
		.der-body-content{
            border-color: @regUserOrgNavBar;
            border-style: double;
         }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.css" />
    <link href="~/Main/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<div id="content" class="der-body-content der-clearfix">
    <br />
    <br />
    <div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                @{
                    Html.RenderAction("AddOrgBrand", "OrgBrands");
                }
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <hr />
    <br />

    <div class="panel panel-default">
        <table id="myTable" class="table table-bordered table-condensed table-striped table-hover table-responsive standard">
            <thead>
                <tr>
                    <th>
                        Organisation Brand Name
                    </th>
                    <th>
                        Select Action
                    </th>
                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model)
                {
                    <tr style="border-style: groove;">
                        <td>
                            @Html.DisplayFor(modelItem => item.OrgBrandName)
                        </td>

                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" style="background-color:white">
                                    <li><a href="#" onclick="ShowOrgBrand(@item.OrgBrandId)">Brand details</a></li>
                                    <li><a href="#" onclick="EditOrgBrand(@item.OrgBrandId)">Edit branding</a></li>
                                    @*<li><a href="#" onclick="ConfirmDelete(@item.OrgBrandId)">Remove branding</a></li>*@
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>


        <div>
            <p>@Html.ActionLink("Back", "SysAdminSetUp", "Home", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
    </div>

</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<input type="hidden" id="hiddenOrgId" />



@*Delete confirmation Modal*@
<div class="modal fade" id="OrgbrandDeleteModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Remove branding</h3>
			</div>
			<div class="modal-body">
				<h3>Are you sure you want to remove this branding?</h3>
			</div>
			<div class="modal-footer">
				<a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
				<a href="#" class="RegUserOrgButtonColour" onclick="DeleteOrgBrand()">Confirm</a>
			</div>
		</div>
	</div>
</div>
@*View Org Details Modal*@
<div class="modal fade" id="OrgbrandDetailsModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Org brand details</h3>
			</div>
			<div class="modal-body" id="myModalBodyDiv"></div>
			<div class="modal-footer">
				<a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
			</div>
		</div>
	</div>
</div>
@*Edit Org Details Modal*@
<div class="modal fade" id="OrgbrandEditModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Edit org branding</h3>
			</div>
			<div class="modal-body" id="myOrgBrandEditBody"></div>
			<div class="modal-footer">
				<input type="button" value="Cancel" class="RegUserOrgButtonColour" id="cancel" data-dismiss="modal" />
				<input type="button" value="Update" class="RegUserOrgButtonColour" id="edtSubmit" />
			</div>
		</div>
	</div>
</div>
<script>
	var ConfirmDelete = function (OrgId) {
		$("#hiddenOrgId").val(OrgId);
		$("#OrgbrandDeleteModal").modal('show');
	}
	var DeleteOrgBrand = function () {
		var OrgBrandId = $("#hiddenOrgId").val();
		$.ajax({
			type: "POST",
			url: "/OrgBrands/DeleteConfirmed/",
			data: { id: OrgBrandId },
			success: function (response) {
				alert("Org brand deleted");
				$("#OrgbrandDeleteModal").modal("hide");
				window.location.reload();
			}
		})
	}
</script>
<script>
	var ShowOrgBrand = function (Id) {
		$.ajax({
			type: "POST",
			url: "/OrgBrands/OrgBrandDetails",
			data: { Id: Id },
			success: function (response) {
				$("#myModalBodyDiv").html(response);
				$("#OrgbrandDetailsModal").modal("show");
			}
		})
	}
</script>
<script>
	var EditOrgBrand = function (Id) {
		$.ajax({
			type: "GET",
			url: "/OrgBrands/EditOrgBrand",
			data: { Id: Id },
			success: function (response) {
				$("#myOrgBrandEditBody").html(response);
				$("#OrgbrandEditModal").modal("show");
			}
		})
	}
</script>
<script>
	$("#edtSubmit").click(function () {
		var formData = new FormData($('#OrgBrandEditForm').get(0));;
	  $.ajax({
		  type: "POST",
		  url: "@(Url.Action("Edit", "OrgBrands"))",
		  data: formData,
		  processData: false,
		  contentType: false,
		  success: function (response) {
			  alert("Org brand updated");
			  $("#myModal").modal("hide");
			  $("#OrgBrandEditForm")[0].reset();
			  window.location.reload();
		  }
	   });
	})
</script>



@section scripts{
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/custom-validator")
	<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#myTable').DataTable(
				{
					"ordering": false,
				}
			);
		});
	</script>

}