@model IEnumerable<Dertrix.Models.Religion>
<head>
    @{
        ViewBag.Title = "Religions table";
        var regUserOrgNavBar = Session["regOrgBrandButtonColour"].ToString();
    }


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.css" />
    <link href="~/Main/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<div class="jumbotron" style="height: 100vh; border-color: @regUserOrgNavBar; border-style:solid; border-width:medium;"> 
	<br />
	<br />
	<div>
		<hr />
		<div class="row">
			<div class="col-md-3">
				@{
					Html.RenderAction("AddReligion", "Religions");
				}
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
		</div>
	</div>
	<hr />
	<br />

	<div class="panel panel-default">
		<table id="myTable" class="table table-bordered table-responsive table-condensed">
			<thead>
				<tr style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; background-color:white; border-style: groove; border-left: none; border-right:none; ">
					<th>
						@Html.DisplayNameFor(model => model.ReligionName)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				@foreach (var item in Model)
				{
					<tr style="border-style: groove;">
						<td>
							@Html.DisplayFor(modelItem => item.ReligionName)
						</td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Action <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" style="background-color:white">
									<li><a href="#" onclick="EditReligion(@item.ReligionId)">Edit religion</a></li>
									@*<li><a href="#" onclick="ConfirmDelete(@item.ReligionId)">Remove religion</a></li>*@
								</ul>
							</div>
						</td>
					</tr>
				}
			</tbody>

		</table>

		<div>
			<p>@Html.ActionLink("Back", "SysAdminSetUp", "Home", "", new { @class = "RegUserOrgButtonColour" })</p>
		</div>
	</div>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<input type="hidden" id="hiddenReligionId" />

@*Delete confirmation Modal*@
<div class="modal fade" id="ReligionDeleteModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Remove religion</h3>
			</div>
			<div class="modal-body">
				<h3>Are you sure you want to remove this religion?</h3>
			</div>
			<div class="modal-footer">
				<a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
				<a href="#" class="RegUserOrgButtonColour" onclick="DeleteReligion()">Confirm</a>
			</div>
		</div>
	</div>
</div>
@*Edit religion Modal*@
<div class="modal fade" id="ReligionEditModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Edit religion</h3>
			</div>
			<div class="modal-body" id="religionEditBody"></div>
			<div class="modal-footer">
				<input type="button" value="Cancel" class="RegUserOrgButtonColour" id="cancel" data-dismiss="modal" />
				<input type="button" value="Update" class="RegUserOrgButtonColour" id="edtSubmit" />
			</div>
		</div>
	</div>
</div>
<script>
	var ConfirmDelete = function (ClassId) {
		$("#hiddenReligionId").val(ClassId);
		$("#ReligionDeleteModal").modal('show');
	}
	var DeleteReligion = function () {
		var Religion = $("#hiddenReligionId").val();
		$.ajax({
			type: "POST",
			url: "/Religions/DeleteConfirmed/",
			data: { id: Religion },
			success: function (response) {
				alert("Religion deleted");
				$("#ReligionDeleteModal").modal("hide");
				window.location.reload();
			}
		})
	}
</script>
<script>
	var EditReligion = function (Id) {
		$.ajax({
			type: "GET",
			url: "/Religions/EditReligion",
			data: { Id: Id },
			success: function (response) {
				$("#religionEditBody").html(response);
				$("#ReligionEditModal").modal("show");
			}
		})
	}
</script>
<script>
	$("#edtSubmit").click(function () {
		var data = $("#ReligionEditForm").serialize();
		$.ajax({
			type: "POST",
			url: "/Religions/Edit",
			data: data,
			success: function (response) {
				alert("Religion updated");
				$("#ReligionEditModal").modal("hide");
				$("#ReligionEditForm")[0].reset();
				window.location.reload();
			}
		})
	})
</script>


@section scripts{
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/custom-validator")
	<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#myTable').DataTable(
				{
					"ordering": false,
				}
			);
		});
	</script>

}
