@model Dertrix.ViewModels.DisplayStudentGradesViewModel


<table class="table table-bordered table-striped" style="width:70%">
    <thead>
        <tr style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; background-color:white; border-style: groove; border-left: none; border-right:none; ">
            <th>Subject Id</th>
            <th>Subject</th>
            <th> Pass Mark</th>
            <th>Max Mark</th>
            <th>Marks Obtained</th>
            <th>Final Grade</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.StudentSubjectGrades.Count; i++)
        {
        <tr>
            @Html.HiddenFor(model => model.StudentSubjectGrades[i].StudentSubjectGradeId)
            @Html.HiddenFor(model => model.StudentSubjectGrades[i].RegisteredUserId)
            @Html.HiddenFor(model => model.StudentSubjectGrades[i].ClassId)
            @Html.HiddenFor(model => model.StudentSubjectGrades[i].ClassRef)
            @Html.HiddenFor(model => model.StudentSubjectGrades[i].OrgId)
            @Html.HiddenFor(model => model.StudentSubjectGrades[i].Created_date)
            @Html.HiddenFor(model => model.StudentSubjectGrades[i].Last_updated_date)

            <td>
                @Html.DisplayFor(model => model.StudentSubjectGrades[i].SubjectId)
            </td>
            <td>
                @Html.DisplayFor(model => model.StudentSubjectGrades[i].SubjectName, new { htmlAttributes = new { @style = "" } })

            </td>
            @foreach (var sub in Model.Subject.Where(x => x.SubjectId == @Model.StudentSubjectGrades[i].SubjectId))
            {
                <td>
                    @Html.DisplayFor(modelItem => sub.Subject_Min_Passmark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => sub.SubjectMaxGrade)
                </td>
                <td>
                    @Html.DisplayFor(model => model.StudentSubjectGrades[i].StudentSubjectGradeObtained, new { htmlAttributes = new { @style = "" } })
                </td>
                <td>
                </td>
            }
        </tr>
        }

    </tbody>
</table>




