@model IEnumerable<Dertrix.Models.OrgImportantDate>
<head>
	@{
		ViewBag.Title = "Important dates table";
	}
	<style>
		.btn-group:hover .dropdown-menu {
			display: block;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.css" />
	<link href="~/Main/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<div class="jumbotron" style="height:100vh;">
	<br />
	<br />
	@Html.Partial("_Widget_SchStaff_Dashboard")

	<div>
		<hr />
		<div class="row">
			<div class="col-md-3">
				@{
					Html.RenderAction("AddOrgImpDate", "OrgImportantDates");
				}
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
		</div>
	</div>
	<hr />
	<br />




	<div class="panel panel-default">
		<table id="myTable" class="table table-bordered table-condensed table-striped table-hover table-responsive ">
			<thead>
				<tr style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; background-color:white; border-style: groove; border-left: none; border-right:none; ">
					<th>
						Date Name
					</th>


					<th>
						Creator
					</th>
					<th>
						Date
					</th>

					<th></th>
				</tr>
			</thead>

			<tbody>

				@foreach (var item in Model)
				{
					<tr style="border-style: groove;">
						<td>
							@Html.DisplayFor(modelItem => item.ImportantDateName)
						</td>


						<td>
							@Html.DisplayFor(modelItem => item.CreatorName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.FromImportanttDate) | @Html.DisplayFor(modelItem => item.ToImportanttDate)
						</td>

						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Action <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" style="background-color:white">
									<li><a href="#" onclick="EditOrgImpDate(@item.OrgImportantDateId)">Edit important date</a></li>
									<li><a href="#" onclick="ConfirmDelete(@item.OrgImportantDateId)">Remove date</a></li>
								</ul>
							</div>
						</td>
					</tr>
				}
			</tbody>


		</table>
		<div>
			<p>@Html.ActionLink("Back", "SysSetUp", "Home", "", new { @class = "RegUserOrgButtonColour" })</p>
		</div>

	</div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<input type="hidden" id="hiddenOrgImpDateId" />

@*Delete confirmation Modal*@
<div class="modal fade" id="OrgImpDateDeleteModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Remove important date</h3>
			</div>
			<div class="modal-body">
				<h3>Are you sure you want to remove this important date?</h3>
			</div>
			<div class="modal-footer">
				<a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
				<a href="#" class="RegUserOrgButtonColour" onclick="DeleteOrgImpDate()">Confirm</a>
			</div>
		</div>
	</div>
</div>

@*Edit Org Imp Date Modal*@
<div class="modal fade" id="OrgImpDateEditModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Edit important date</h3>
			</div>
			<div class="modal-body" id="OrgImpDateEditModalbody"></div>
			<div class="modal-footer">
				<input type="button" value="Cancel" class="RegUserOrgButtonColour" id="cancel" data-dismiss="modal" />
				<input type="button" value="Update" class="RegUserOrgButtonColour" id="edtSubmit" />
			</div>
		</div>
	</div>
</div>

<script>
	var ConfirmDelete = function (OrgImportantDateId) {
		$("#hiddenOrgImpDateId").val(OrgImportantDateId);
		$("#OrgImpDateDeleteModal").modal('show');
	}
	var DeleteOrgImpDate = function () {
		var OrgImpDate = $("#hiddenOrgImpDateId").val();
		$.ajax({
			type: "POST",
			url: "/OrgImportantDates/DeleteConfirmed/",
			data: { id: OrgImpDate },
			success: function (response) {
				alert("Important date deleted");
				$("#OrgImpDateDeleteModal").modal("hide");
				window.location.reload();
			}
		})
	}
</script>
<script>
	var EditOrgImpDate = function (Id) {
		$.ajax({
			type: "GET",
			url: "/OrgImportantDates/EditImpDate",
			data: { Id: Id },
			success: function (response) {
				$("#OrgImpDateEditModalbody").html(response);
				$("#OrgImpDateEditModal").modal("show");
			}
		})
	}
</script>
<script>
	$("#edtSubmit").click(function () {
		var data = $("#OrgImpDateEditForm").serialize();
		$.ajax({
			type: "POST",
			url: "/OrgImportantDates/Edit",
			data: data,
			success: function (response) {
				alert("Important date updated");
				$("#OrgImpDateEditModal").modal("hide");
				$("#OrgImpDateEditForm")[0].reset();
				window.location.reload();
			}
		})
	})
</script>



@section scripts{

	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/custom-validator")
	<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/smoothness/jquery-ui.css" />
	<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />



	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#myTable').DataTable(
				{
					"ordering": false,
				}
			);
		});
	</script>




}





