@model IEnumerable<Dertrix.Models.Class>
<head>
	@{
		ViewBag.Title = "Classes";
	}
	<style>
		.btn-group:hover .dropdown-menu {
			display: block;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.css"/>
	<link href="~/Main/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<div class="jumbotron" style="height:100vh;">
	<br />
	<br />
	@Html.Partial("_WidgetDashboard")
	<div>
		<hr />
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
		</div>
	</div>


	<hr />
	<br />
	<div class="panel panel-default">
		<table id="myTable" class="table table-bordered table-condensed table-striped table-hover table-responsive ">
			<thead>

				<tr style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; background-color:white; border-style: groove; border-left: none; border-right:none; ">

					<th>
						Class
					</th>
					<th>
						Student Count
					</th>
					<th>
						Class Teacher
					</th>
					<th>
						Assign Teacher
					</th>
				</tr>
			</thead>
			<tbody>

				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.ClassName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.RegisteredUsers.Count).ToString()
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Title.TitleName)
							@Html.DisplayFor(modelItem => item.ClassTeacherFullName)
						</td>

						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Action <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" style="background-color:white">
									<li><a href="#" onclick="AssignTeacher(@item.ClassId)">Assign Class Teacher</a></li>
									@*<li><a href="#" onclick="ConfirmDelete(@item.ClassId)">View Class Details</a></li>*@
								</ul>
							</div>
						</td>
					</tr>
				}
			</tbody>

		</table>
	</div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<input type="hidden" id="hiddenClassId" />


@*Assign Teacher Modal*@
<div class="modal fade" id="AssignTeacherModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Assign Teacher</h3>
			</div>
			<div class="modal-body" id="AssignTeacherBody"></div>
			<div class="modal-footer">
				<input type="button" value="Cancel" class="RegUserOrgButtonColour" id="cancel" data-dismiss="modal" />
				<input type="button" value="Update" class="RegUserOrgButtonColour" id="edtSubmit" />
			</div>
		</div>
	</div>
</div>


<script>
	var AssignTeacher = function (Id) {
		$.ajax({
			type: "GET",
			url: "/Class/AssignClassTeacher",
			data: { Id: Id },
			success: function (response) {
				$("#AssignTeacherBody").html(response);
				$("#AssignTeacherModal").modal("show");
			}
		})
	}
</script>
<script>
	$("#edtSubmit").click(function () {
		var data = $("#AssignClassTeacherForm").serialize();
		$.ajax({
			type: "POST",
			url: "/Class/Edit",
			data: data,
			success: function (response) {
				alert("Teacher assigned");
				$("#AssignTeacherModal").modal("hide");
				$("#AssignClassTeacherForm")[0].reset();
				window.location.reload();
			}
		})
	})
</script>


@section scripts{
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#myTable').DataTable(
				{
					"ordering": false,
				}
			);
		});
	</script>


}