@model IEnumerable<Dertrix.Models.Gender>
<head>
    @{
        ViewBag.Title = "Genders Table";
        var regUserOrgNavBar = Session["regOrgBrandButtonColour"].ToString();
    }
    <style>
		.der-body-content{
            border-color: @regUserOrgNavBar;
            border-style: double;
         }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.css" />
    <link href="~/Main/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<div id="content" class="der-body-content der-clearfix">
    <br />
    <br />
    <div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                @{
                    Html.RenderAction("AddGender", "Genders");
                }
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <hr />
    <br />

    <div class="panel panel-default">
        <table id="myTable" class="table table-bordered table-condensed table-striped table-hover table-responsive standard">
            <thead>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GenderName)
                    </th>
                    <th>Select Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="border-style: groove;">
                        <td>
                            @Html.DisplayFor(modelItem => item.GenderName)
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" style="background-color:white">
                                    <li><a href="#" onclick="EditGender(@item.GenderId)">Edit gender</a></li>
                                    @*<li><a href="#" onclick="ConfirmDelete(@item.GenderId)">Remove gender</a></li>*@
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <p>@Html.ActionLink("Back", "SysAdminSetUp", "Home", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<input type="hidden" id="hiddenGenderId" />

@*Delete confirmation Modal*@
<div class="modal fade" id="GenderDeleteModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Remove gender</h3>
			</div>
			<div class="modal-body">
				<h3>Are you sure you want to remove this gender?</h3>
			</div>
			<div class="modal-footer">
				<a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
				<a href="#" class="RegUserOrgButtonColour" onclick="DeleteGender()">Confirm</a>
			</div>
		</div>
	</div>
</div>

@*Edit religion Modal*@
<div class="modal fade" id="GenderEditModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Edit gender</h3>
			</div>
			<div class="modal-body" id="GenderEditBody"></div>
			<div class="modal-footer">
				<input type="button" value="Cancel" class="RegUserOrgButtonColour" id="cancel" data-dismiss="modal" />
				<input type="button" value="Update" class="RegUserOrgButtonColour" id="edtSubmit" />
			</div>
		</div>
	</div>
</div>



<script>
	var ConfirmDelete = function (GenderId) {
		$("#hiddenGenderId").val(GenderId);
		$("#GenderDeleteModal").modal('show');
	}
	var DeleteGender = function () {
		var Gender = $("#hiddenGenderId").val();
		$.ajax({
			type: "POST",
			url: "/Genders/DeleteConfirmed/",
			data: { id: Gender },
			success: function (response) {
				alert("Gender deleted");
				$("#GenderDeleteModal").modal("hide");
				window.location.reload();
			}
		})
	}
</script>

<script>
	var EditGender = function (Id) {
		$.ajax({
			type: "GET",
			url: "/Genders/EditGender",
			data: { Id: Id },
			success: function (response) {
				$("#GenderEditBody").html(response);
				$("#GenderEditModal").modal("show");
			}
		})
	}
</script>
<script>
	$("#edtSubmit").click(function () {
		var data = $("#GenderEditForm").serialize();
		$.ajax({
			type: "POST",
			url: "/Genders/Edit",
			data: data,
			success: function (response) {
				alert("Gender updated");
				$("#GenderEditModal").modal("hide");
				$("#GenderEditForm")[0].reset();
				window.location.reload();
			}
		})
	})
</script>


@section scripts{
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/custom-validator")
	<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#myTable').DataTable(
				{
					"ordering": false,
				}
			);
		});
	</script>

}
