@model Dertrix.Models.OrgGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrgGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupType.GroupTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupType.GroupTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Org.OrgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Org.OrgName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupOrgTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupOrgTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupRefNumb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupRefNumb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrgGroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
