@model Dertrix.Models.Tribe
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<a href="#" class="RegUserOrgButtonColour" data-toggle="modal" data-target="#tribemodal">New tribe</a>

<div class="modal fade" id="tribemodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Add new tribe</h3>
			</div>
			<div class="modal-body">
				<form id="AddTribe">
					@Html.AntiForgeryToken()

					<div class="form-horizontal">
						<hr />
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="form-group">
							@Html.LabelFor(model => model.TribeName, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.TribeName, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.TribeName, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="modal-footer">
							<input type="reset" value="Cancel" class="RegUserOrgButtonColour" data-dismiss="modal" />
							<input type="submit" value="Add tribe" class="RegUserOrgButtonColour" id="btnSubmit" />
						</div>


					</div>
				</form>
			</div>
		</div>
	</div>
</div>



@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
	$(document).ready(function () {
		$("#btnSubmit").click(function () {
			var data = $("#AddTribe").serialize();
			$.ajax({
				type: "POST",
				url: "/Tribes/Create",
				data: data,
				success: function (response) {
					alert("New tribe created");
					$("#tribemodal").modal("hide");
					$("#AddTribe")[0].reset();
					window.location.reload();
				}
			})
		})
	})
</script>