@model Dertrix.Models.Org
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<a href="#" class="RegUserOrgButtonColour" data-toggle="modal" data-target="#myModalAddOrg">
	<i class="fa fa-plus fa-lg" aria-hidden="true"></i>
	Add Org
</a>
<div class="modal fade" id="myModalAddOrg">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">New Org</h3>
			</div>
			<div class="modal-body">
				<form id="AddOrgForm">
					@Html.AntiForgeryToken()
					@{
						HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
					}

			  <div class="form-horizontal">
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-group">
                            @Html.LabelFor(model => model.OrgName, "Organisation Name", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.OrgName, new { htmlAttributes = new { @id = "OrgName", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OrgName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.OrgAddress, "Organisation Address", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OrgAddress, new { htmlAttributes = new { @id = "OrgAddress", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OrgAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>
					<div class="form-group">
                            @Html.LabelFor(model => model.DomainId, "Organisation Sub Domain", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("DomainId", null, "", htmlAttributes: new { @id = "DomainId", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DomainId, "", new { @class = "text-danger" })
                            </div>
                        </div>
					<div class="form-group">
                            @Html.LabelFor(model => model.OrgTypeId, "Organisation Type", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("OrgTypeId", null, "", htmlAttributes: new { @id = "OrgTypeId", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.OrgTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
					<div class="form-group">
                            @Html.LabelFor(model => model.OrgBrandId, "Organisation Brand", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("OrgBrandId", null, "", htmlAttributes: new { @id = "OrgBrandId", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.OrgBrandId, "", new { @class = "text-danger" })
                            </div>
                        </div>
					</div>
					<div class="modal-footer">
						<input type="reset" value="Cancel" class="RegUserOrgButtonColour" data-dismiss="modal" />
						<input type="button" value="Add Organisation" class="RegUserOrgButtonColour" id="btnSubmit" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
	$(document).ready(function () {
		$("#btnSubmit").on("click", function () {
			if ($("#AddOrgForm").valid()) {

			  var data = $("#AddOrgForm").serialize();
			  $.ajax({
				type: "POST",
				url: "/Orgs/Create",
				data: data,
				  success: function (response) {
                      toastr.options.onHidden = function () {
                          window.location.reload();
                      }
                      toastr.options.positionClass = "toast-bottom-full-width";
                      toastr.options.progressBar = true;
                      toastr.options.timeout = 0;
                      toastr.options.extendedTimeOut = 0;
                      toastr.options.fadeOut = 500;
                      toastr.options.tapToDismiss = false;
                      toastr.success("Org added successfully");
					  $("#myModalAddOrg").modal("hide");
					  $("#AddOrgForm")[0].reset();
				  },
                  error: function (response) {
                      toastr.options.positionClass = "toast-bottom-full-width";
                      toastr.options.progressBar = true;
                      toastr.options.timeout = 0;
                      toastr.options.extendedTimeOut = 0;
                      toastr.options.fadeOut = 500;
                      toastr.options.tapToDismiss = false;
                      toastr.error("Oops, There has been a problem, the system adminstrators have been notified.");
                      $("#myModalAddOrg").modal("hide");
                      $("#AddOrgForm")[0].reset();
                  }
			  })

			}
		})
	});


</script>