@model Dertrix.Models.StudentRegForm

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<a href="#" class="RegUserOrgButtonColour" data-toggle="modal" data-target="#addstudenttypemodal">
	<i class="fa fa-plus fa-lg" aria-hidden="true"></i>
	New Student Type
</a>

<div class="modal fade" id="addstudenttypemodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">New Student Type</h3>
			</div>
			<div class="modal-body">
				<form id="addstudenttypeform">

					@Html.AntiForgeryToken()
					@{
						HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
					}

					<div class="form-horizontal">
						<hr />
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-group">
						<div class="col-md-10">
							@Html.LabelFor(model => model.Name, "Student Type Name", htmlAttributes: new { @class = "control-label col-md-2" })
							@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
						</div>
					</div>

						<div class="modal-footer">
							<input type="reset" value="Cancel" class="RegUserOrgButtonColour" data-dismiss="modal" />
							<input type="button" value="Add Student Type" class="RegUserOrgButtonColour" id="btnSubmit" />
						</div>


					</div>

				</form>
			</div>
		</div>
	</div>
</div>




@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
	$(document).ready(function () {
		$("#btnSubmit").on("click", function () {
			if ($("#addstudenttypeform").valid()) {
			var data = $("#addstudenttypeform").serialize();
			$.ajax({
				type: "POST",
				url: "/StudentRegForms/Create",
				data: data,
				success: function (response) {
					alert("New student type created");
					$("#addstudenttypemodal").modal("hide");
					$("#addstudenttypeform")[0].reset();
					window.location.reload();
				}
			})
			}
		})

	});
</script>