@model Dertrix.Models.RegisteredUser
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add New Dertrix Staff</a>
<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Add New Dertrix Staff</h3>
			</div>
			<div class="modal-body">
				<form id="AddSysAdminForm">
					@Html.AntiForgeryToken()
					<div class="form-horizontal">
						<hr />
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="form-group">
							@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @id = "First_Name", @class = "form-control required" } })
								@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(model => model.RegisteredUserTypeId, "UserType", htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.DropDownList("RegisteredUserTypeId", null, "", new { @id = "RegisteredUserTypeId", @class = "form-control" })
								@Html.ValidationMessageFor(model => model.RegisteredUserTypeId, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-10">
								@Html.DropDownList("SelectedOrgList", null, "", htmlAttributes: new { @id = "SelectedOrgList", @class = "form-control" })
								@Html.ValidationMessageFor(model => model.SelectedOrgList, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
				<input type="button" value="Add User" class="btn btn-success" id="btnSubmit" />
			</div>
		</div>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function () {
		$('#SelectedOrgList').hide();
		$('#SelectedOrgList').val("23");
		$("#btnSubmit").click(function () {
			var data = $("#AddSysAdminForm").serialize();
			$.ajax({
				type: "POST",
				url: "/RegisteredUsers/Create",
				data: data,
				success: function (response) {
                    toastr.options.onHidden = function () {
                        window.location.reload();
                    }
                    toastr.options.positionClass = "toast-bottom-full-width";
                    toastr.options.progressBar = true;
                    toastr.options.timeout = 0;
                    toastr.options.extendedTimeOut = 0;
                    toastr.options.fadeOut = 500;
                    toastr.options.tapToDismiss = false;
                    toastr.success("System admin user added successfully");
                    $("#myModal").modal("hide");
                    $("#AddSysAdminForm")[0].reset();
				},
                error: function (response) {
                    toastr.options.positionClass = "toast-bottom-full-width";
                    toastr.options.progressBar = true;
                    toastr.options.timeout = 0;
                    toastr.options.extendedTimeOut = 0;
                    toastr.options.fadeOut = 500;
                    toastr.options.tapToDismiss = false;
                    toastr.error("Oops, There has been a problem, the system adminstrators have been notified.");
                    $("#myModal").modal("hide");
                    $("#AddSysAdminForm")[0].reset();
                }
			})
		})
	})
</script>