@model Dertrix.Models.RegisteredUser
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<a href="#" class="RegUserOrgButtonColour" data-toggle="modal" data-target="#myModal">
	<i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
	Add Staff
</a>
<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Add Staff </h3>
			</div>
			<div class="modal-body">
				<form id="AddStaffForm">
					@Html.AntiForgeryToken()
					@{
						HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
					}
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.TitleId, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("TitleId", null, "Please Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TitleId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @*@Html.TextBoxFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @{
                            if ((int)Session["OrgType"] == 3 || (int)Session["OrgType"] == 5)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PrimarySchoolUserRoleId, "Role", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("PrimarySchoolUserRoleId", null, "Please Select", new { @id = "PrimarySchoolUserRoleId", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PrimarySchoolUserRoleId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                        }
                        @{
                            if ((int)Session["OrgType"] == 2 || (int)Session["OrgType"] == 5)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SecondarySchoolUserRoleId, "Role", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("SecondarySchoolUserRoleId", null, "Please Select", new { @id = "SecondarySchoolUserRoleId", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SecondarySchoolUserRoleId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                        }
                        @{
                            if ((int)Session["OrgType"] == 4 || (int)Session["OrgType"] == 5)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NurserySchoolUserRoleId, "Role", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("NurserySchoolUserRoleId", null, "Please Select", new { @id = "NurserySchoolUserRoleId", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NurserySchoolUserRoleId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                        }
                    </div>
					<div class="modal-footer">
						<input type="reset" value="Cancel" class="RegUserOrgButtonColour" data-dismiss="modal" />
						<input type="button" value="Add Staff" class="RegUserOrgButtonColour" id="addstaff" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>





@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function () {
		$("#ClassId").hide();
		$("#ClassId0").hide();
		$("#addstaff").on("click", function () {
			if ($("#AddStaffForm").valid()) {
				var data = $("#AddStaffForm").serialize();
				$.ajax({
					type: "POST",
					url: '@Url.Action("Create", "RegisteredUsers")',
					data: data,
                    success: function (response) {
                        toastr.options.onHidden = function () {
                            window.location.reload();
                        }
                        toastr.options.positionClass = "toast-bottom-full-width";
                        toastr.options.progressBar = true;
                        toastr.options.timeout = 1000;
                        toastr.options.extendedTimeOut = 0;
                        toastr.options.fadeOut = 500;
                        toastr.options.tapToDismiss = false;
                        toastr.success("Staff added successfully");
                        $("#myModal").modal("hide");
                        $("#AddStaffForm")[0].reset();
                    },
                    error: function (response) {
                        toastr.options.positionClass = "toast-bottom-full-width";
                        toastr.options.progressBar = true;
                        toastr.options.timeout = 0;
                        toastr.options.extendedTimeOut = 0;
                        toastr.options.fadeOut = 900;
                        toastr.options.tapToDismiss = false;
                        toastr.error("Oops, There has been a problem, the system adminstrators have been notified");
                        $("#myModal").modal("hide");
                        $("#AddStaffForm")[0].reset();
                    }
				})
			}
		})
	})
</script>