@model Dertrix.Models.Religion

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<a href="#" class="RegUserOrgButtonColour" data-toggle="modal" data-target="#addreligionmodal">New religion</a>

<div class="modal fade" id="addreligionmodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Add new religion</h3>
			</div>
			<div class="modal-body">
				<form id="AddReligion">

					@Html.AntiForgeryToken()

					<div class="form-horizontal">
						<hr />
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="form-group">
							@Html.LabelFor(model => model.ReligionName, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.ReligionName, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.ReligionName, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="modal-footer">
							<input type="reset" value="Cancel" class="RegUserOrgButtonColour" data-dismiss="modal" />
							<input type="submit" value="Add religion" class="RegUserOrgButtonColour" id="btnSubmit" />
						</div>
					</div>


				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
	$(document).ready(function () {
		$("#btnSubmit").click(function () {
			var data = $("#AddReligion").serialize();
			$.ajax({
				type: "POST",
				url: "/Religions/Create",
				data: data,
				success: function (response) {
					alert("New religion created");
					$("#addreligionmodal").modal("hide");
					$("#AddReligion")[0].reset();
					window.location.reload();
				}
			})
		})
	})
</script>
