@model Dertrix.Models.GroupType

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<a href="#" class="RegUserOrgButtonColour" data-toggle="modal" data-target="#addgrouptypemodal">
	<i class="fa fa-plus fa-lg" aria-hidden="true"></i>
	New Group
</a>
<div class="modal fade" id="addgrouptypemodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">New Group</h3>
			</div>
			<div class="modal-body">
				<form id="AddGroup">

					@Html.AntiForgeryToken()
					@{
						HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
					}
					<div class="form-horizontal">
						<hr />
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-group">
						<div class="col-md-10">
							@Html.LabelFor(model => model.GroupTypeName, "Group Name", htmlAttributes: new { @class = "control-label col-md-2" })
							@Html.EditorFor(model => model.GroupTypeName, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.GroupTypeName, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-10">
							@Html.LabelFor(model => model.GroupOrgTypeId, "Group Type", htmlAttributes: new { @class = "control-label col-md-2" })
							@Html.EditorFor(model => model.GroupOrgTypeId, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.GroupOrgTypeId, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-10">
							@Html.LabelFor(model => model.GroupRefNumb, "Group Reference number", htmlAttributes: new { @class = "control-label col-md-2" })
							@Html.EditorFor(model => model.GroupRefNumb, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.GroupRefNumb, "", new { @class = "text-danger" })
						</div>
					</div>

						<div class="modal-footer">
							<input type="reset" value="Cancel" class="RegUserOrgButtonColour" data-dismiss="modal" />
							<input type="button" value="Add Group" class="RegUserOrgButtonColour" id="btnSubmit" />
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
	$(document).ready(function () {
		$("#btnSubmit").on("click", function () {
			if ($("#AddGroup").valid()) {
			var data = $("#AddGroup").serialize();
			$.ajax({
				type: "POST",
				url: "/GroupTypes/Create",
				data: data,
				success: function (response) {
                    toastr.options.onHidden = function () {
                        window.location.reload();
                    }
                    toastr.options.positionClass = "toast-bottom-full-width";
                    toastr.options.progressBar = true;
                    toastr.options.timeout = 0;
                    toastr.options.extendedTimeOut = 0;
                    toastr.options.fadeOut = 500;
                    toastr.options.tapToDismiss = false;
                    toastr.success("Group type added successfully");
                    $("#addgrouptypemodal").modal("hide");
                    $("#AddGroup")[0].reset();
				},
                error: function (response) {
                    toastr.options.positionClass = "toast-bottom-full-width";
                    toastr.options.progressBar = true;
                    toastr.options.timeout = 0;
                    toastr.options.extendedTimeOut = 0;
                    toastr.options.fadeOut = 500;
                    toastr.options.tapToDismiss = false;
                    toastr.error("Oops, There has been a problem, the system adminstrators have been notified.");
					$("#addgrouptypemodal").modal("hide");
					$("#AddGroup")[0].reset();
                }
			})
			}
		})
	});
</script>
