@model Dertrix.Models.Post
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<a href="#" class="RegUserOrgButtonColour" data-toggle="modal" data-target="#mycreatepost">Create Post</a>
<div class="modal fade" id="mycreatepost">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Add New Post</h3>
			</div>
			<div class="modal-body">
				<form id="myCreatePostForm">
					@Html.AntiForgeryToken()
					@{
						HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
					}
					<div class="form-horizontal">
						<h4></h4>
						<hr />
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						@Html.HiddenFor(model => model.OrgId)
						@Html.HiddenFor(model => model.PostCreatorId)
						@Html.HiddenFor(model => model.CreatorFullName)
						@Html.HiddenFor(model => model.PostCreationDate)
						<div class="form-group">
							@Html.LabelFor(model => model.PostTopicId, "PostTopicId", htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.DropDownList("PostTopicId", null, "Please select", htmlAttributes: new { @class = "form-control", @id = "PostTopicId22" })
								@Html.ValidationMessageFor(model => model.PostTopicId, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(model => model.PostSubject, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.PostSubject, new { htmlAttributes = new { @class = "form-control", @id = "PostSubject22" } })
								@Html.ValidationMessageFor(model => model.PostSubject, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(model => model.PostExpirtyDate, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.PostExpirtyDate, new { htmlAttributes = new { @class = "form-control datepicker", type = "text" } })
								@Html.ValidationMessageFor(model => model.PostExpirtyDate, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(model => model.PostContent, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								<div class="summernote">
									@Html.TextAreaFor(model => model.PostContent, new { htmlAttributes = new { @class = "form-control PostContent" } })
								</div>
								@Html.ValidationMessageFor(model => model.PostContent, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="modal-footer">
							<input type="reset" value="Cancel" class="RegUserOrgButtonColour" data-dismiss="modal" id="cancel" />
							<input type="submit" value="Create Post" class="RegUserOrgButtonColour" id="btnSubmit" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		$(function () {
			$(".datepicker").datepicker({
				dateFormat: "dd-mm-yy",
				changeMonth: true,
				changeYear: true,
				yearRange: "-35:+35",
			});
		})
		$(function () {
			  $('#PostContent').summernote({
				height: '300px',
				dialogsInBody: true,
				spellCheck: true,
			  });
		})
		$(function () {
			$("#cancel").on("click", function () {
			})
		})
	   $("#btnSubmit").on("click", function () {
		   if ($("#myCreatePostForm").valid()) {
			   var data = $("#myCreatePostForm").serialize();
			   $.ajax({
				   type: "POST",
				   url: '@Url.Action("Create", "Posts")',
				   data: data,
				   success: function (response) {
					   alert("New Post created");
					   $("#mycreatepost").modal("hide");
					   $("#myCreatePostForm")[0].reset();
					   window.location.reload();
				   }
			   })
		   }
	   })
	})
</script>