@model Dertrix.Models.OrgEvent
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<a href="#" class="RegUserOrgButtonColour" data-toggle="modal" data-target="#orgeventmodal">
	<i class="fa fa-plus fa-lg" aria-hidden="true"></i>
	New Event
</a>
<div class="modal fade" id="orgeventmodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">New Event</h3>
			</div>
			<div class="modal-body">
				<form id="AddOrgEvent">
					@Html.AntiForgeryToken()
					@{
						HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
					}
					<div class="form-horizontal">
						<hr />
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="form-group">
							@Html.LabelFor(model => model.EventName,"Event Name", htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(model => model.EventDescription, "Event Description",htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.EventDescription, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.EventDescription, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(model => model.EventDate,"Event Date", htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.EventDate, "{0:d MMM yyyy}", new { htmlAttributes = new { @class = "form-control datepicker", type = "text" } })
								@Html.ValidationMessageFor(model => model.EventDate, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(model => model.SendAsEmail,"Send as Email?", htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								<div class="checkbox">
									@Html.EditorFor(model => model.SendAsEmail)
									@Html.ValidationMessageFor(model => model.SendAsEmail, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<input type="reset" value="Cancel" class="RegUserOrgButtonColour" data-dismiss="modal" />
							<input type="submit" value="Add Event" class="RegUserOrgButtonColour" id="btnSubmit" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
	$(document).ready(function () {
		$(function () {
			$(".datepicker").datepicker({
				dateFormat: "dd-mm-yy",
				changeMonth: true,
				changeYear: true,
				yearRange: "-35:+35",
			});
		})
		$("#btnSubmit").on("click", function () {
			if ($("#AddOrgEvent").valid()) {
				var data = $("#AddOrgEvent").serialize();
				$.ajax({
					type: "POST",
					url: "/OrgEvents/Create",
					data: data,
					success: function (response) {
						alert("New event created");
						$("#orgeventmodal").modal("hide");
						$("#AddOrgEvent")[0].reset();
						window.location.reload();
					}
				})
			}
		})
	});
</script>