@model Dertrix.Models.OrgEvent
<form id="OrgEventEditForm">
	@Html.AntiForgeryToken()
	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.OrgEventId)
		@Html.HiddenFor(model => model.OrgId)
		@Html.HiddenFor(model => model.CreatedBy)
		@Html.HiddenFor(model => model.CreatorName)
		<div class="form-group">
			@Html.LabelFor(model => model.EventName,"Event Name", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.EventDescription, "Event Description", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.EventDescription, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.EventDescription, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.EventDate,"Event Date", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.EventDate, "{0:d MMM yyyy}", new { htmlAttributes = new { @class = "form-control", @id = "test3", type = "text" } })
				@Html.ValidationMessageFor(model => model.EventDate, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.SendAsEmail, "Send As Email",htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<div class="checkbox">
					@Html.EditorFor(model => model.SendAsEmail)
					@Html.ValidationMessageFor(model => model.SendAsEmail, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
	</div>
</form>
<script>
	$(document).ready(function () {
		$(function () {
			$("#test3").datepicker({
				dateFormat: "dd-mm-yy",
				changeMonth: true,
				changeYear: true,
				yearRange: "-0:+10",
			});
		})

	})
</script>