@model Dertrix.Models.RegisteredUser

@{
	ViewBag.Title = "ForgottenPassword";
}
<div class="hero-logo">
	<img src="~/Main/img/DertrixLogo_medium.png" />
	<hr class="Horizontal-line">
</div>
<div>
	<h4>Forgotten your password?</h4>
	<p>
		<ul>
			<li>Please enter the email address that you used during registration</li>
			<li>Please check and confirm the <b>email address is correct</b></li>
			<li>You will be sent a password reset email <b>only if your email address is recognised</b></li>
			<li>Please check your junk mail or spam folder if you cannot find the email.</li>

		</ul>
	</p>
</div>


<form id="PasswordResetForm">
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.RegisteredUserId)
	<div class="form-horizontal">
		<hr />
		<div class="form-group">
			@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBox("Validatetextbox", null, new { @class = "form-control", @id = "Validatetextbox" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="button" value="Send Email" class="btn btn-default" id="SendEmail" />
				<input type="reset" value="Reset" class="btn btn-default" />
			</div>
		</div>
	</div>
</form>
<br />
<br />
<br />

<div>
	<p>@Html.ActionLink("Sign in page", "Signin", "Access", null, htmlAttributes: new { @class = "btn btn-default" })</p>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>



<script type="text/javascript">
	$(document).ready(function () {
		$("#SendEmail").on("click", function () {
			if ($("#Validatetextbox").val() == "") {
				toastr.options.positionClass = "toast-bottom-full-width";
				toastr.error("Please enter a valid email address");
			}
			validateEmail($("#Validatetextbox").val());
			function validateEmail(emailField) {
				var reg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/
				if (reg.test(emailField) == false) {
					toastr.options.positionClass = "toast-bottom-full-width";
					toastr.error("Please enter a valid email address");
				}
				if (reg.test(emailField) == true && !($("#Validatetextbox").val() == "")) {
					toastr.success("Password reset email sent");
					var data = ($("#Validatetextbox").val());
					$.ajax({
						type: "POST",
						dataType: 'JSON',
						url: "/Access/PasswordReset/",
						data: { email: data },
					})

				}
			}

		})
	});

</script>



