<head>
    @{
        ViewBag.Title = "SysAdminSetUp";
        var regUserOrgBrand = Session["regOrgBrandButtonColour"].ToString();
    }
    <style>
		.der-body-content{
            border-color: @regUserOrgBrand;
            border-style: double;
         }
    </style>
</head>
<div id="content" class="der-body-content der-clearfix">
    <br />
    <br />

    <div class="row">
        <div class="col-lg-3">
            <p>@Html.ActionLink("Access logs", "Logs", "Access", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
        <div class="col-lg-3">
            <p>@Html.ActionLink("Calendar Event Categories", "Table", "CalendarCategorys", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
        <div class="col-lg-3">
            <p>@Html.ActionLink("Empty Uploaded Files", "EmptyUploadedFiles", "Posts", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
        <div class="col-md-3">
            <p>@Html.ActionLink("Genders", "Index", "Genders", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <p>@Html.ActionLink("Group Types", "Index", "GroupTypes", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
        <div class="col-md-3">
            <p>
                @{
                    Html.RenderAction("RegisterUser", "RegisteredUsers");
                }
            </p>
        </div>
        <div class="col-md-3">
            <p>@Html.ActionLink("Nursery School Roles", "Index", "NurserySchoolUserRoles", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
        <div class="col-md-3">
            <p>@Html.ActionLink("Organisation Brands", "Index", "OrgBrands", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>


    </div>

    <div class="row">
        <div class="col-md-3">
            <p>@Html.ActionLink("Organisation Classes", "SystemAdminIndex", "Class", null, htmlAttributes : new { @class = "RegUserOrgButtonColour" })</p>
        </div>
        <div class="col-md-3">
            <p>@Html.ActionLink("Organisation Domains", "Index", "Domains", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
        <div class="col-md-3">
            <p>@Html.ActionLink("Organisation Types", "Index", "OrgTypes", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
        <div class="col-md-3">
            <p>@Html.ActionLink("Post Topics", "Index", "PostTopics", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <p>@Html.ActionLink("Primary School Roles", "Index", "PrimarySchoolUserRoles", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
        <div class="col-md-3">
            <p>@Html.ActionLink("Relationships", "Index", "Relationships", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
        <div class="col-md-3">
            <p>@Html.ActionLink("Religion", "Index", "Religions", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
        <div class="col-md-3">
            <p>@Html.ActionLink("Secondary School Roles", "Index", "SecondarySchoolUserRoles", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
    </div>


    <div class="row">

        <div class="col-md-3">
            <p>@Html.ActionLink("Student Type", "Index", "StudentRegForms", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
        <div class="col-md-3">
            <p>@Html.ActionLink("System User Types", "Index", "RegisteredUserTypes", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
        <div class="col-md-3">
            <p>@Html.ActionLink("Titles", "Index", "Titles", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
        <div class="col-md-3">
            <p>@Html.ActionLink("Tribes", "Index", "Tribes", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-3">
            <p>@Html.ActionLink("Update event", "UpdateEvents", "OrgSchCalendars", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
    </div>
</div>
    @section scripts{
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/custom-validator")
    }
