@model IEnumerable<Zeus.Models.Org>
@{
	ViewBag.Title = "SystemAdminIndex";
}
<div class="row">
	<div class="col-lg-12">
		<p><b>Organisation management</b></p>
		<p>
			@using (Html.BeginForm("SystemAdminIndex", "Orgs", FormMethod.Get))
			{
			<div class="form-inline">
				id: &nbsp;&nbsp; <input type="text" name="searchid" class="" placeholder="" id="searchid" />&nbsp;&nbsp;
				<input type="hidden" id="hfId" name="searchid" />

				School Name: &nbsp;&nbsp; <input type="text" name="searchname" class="" placeholder="" id="searchname" />
				<input type="hidden" id="hfName" name="searchname" />

				&nbsp;&nbsp;
				<button class="RegUserOrgButtonColour">Filter</button>



			</div>
			}
		</p>
	</div>
</div>

<br />
<br />
<hr/>
<div>

	@{
		Html.RenderAction("AddOrg", "Orgs");
	}
</div>


<br />

<table class="table table-bordered table-striped table-hover table-responsive ">
	<tr  style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; ">
		<th>
			Id
		</th>
		<th>
			Name
		</th>
		<th>
		Type
		</th>
		<th>
		Address
		</th>
		<th>
		Creation Date
		</th>
		<th>
			Select Action
		</th>
		
	</tr>

	

	@{ 
		var orgid = Session["OrgId"].ToString();
	}
	


	@foreach (var item in Model)
	{
<tr>
	<td>
		@Html.DisplayFor(modelItem => item.OrgId)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.OrgName)
	</td>
	<td>
			@Html.DisplayFor(modelItem => item.OrgType.OrgTypeName)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.OrgAddress)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.CreationDate)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id = item.OrgId }) |
			@Html.ActionLink("Details", "Details", new { id = item.OrgId }) |
			@Html.ActionLink("Delete", "Delete", new { id = item.OrgId }) |



			@{
				var isTester = Convert.ToInt32(Session["IsTester"]);


				if (isTester == 1)
				{
					@Html.ActionLink("Jump To Org", "Index", "Orgs", new { id = item.OrgId }, null)

				}


			}







		</td>
</tr>
	}
</table>


@section scripts{
	<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/smoothness/jquery-ui.css" />
	<script type="text/javascript">
		$(function () {
			$("#searchname").autocomplete({
				source: function (request, response) {
					$.ajax({
						url: '/Orgs/AutoCompleteSchool/',
						data: " {'prefix' : '" + request.term + "'}",
						dataType: "json",
						type: "POST",
						contentType: "application/json; charset=utf-8",
						success: function (data) {
							response($.map(data, function (item) {
								return item;
							}))
						},
						error: function (response) {
							alert(response.responseText);
						},
						failure: function (response) {
							alert(response.responseText);
						}
					});
				},
				select: function (e, i) {
					$("#hfName").val(i.item.val);
				},
				minLength: 0
			});
		});




	</script>
}
