@model IEnumerable<Zeus.Models.Org>

@{
	ViewBag.Title = "SystemAdminIndex";
}


<div>
	@{
		Html.RenderAction("AddOrg", "Orgs");
	}

	<a href="#" class="btn btn-primary" data-toggle="modal" data-target="">Filter</a>

	<a href="#" class="myButton">Test button</a>

</div>




<table class="table table-bordered table-striped table-hover table-responsive ">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.OrgId)
		</th>

		<th>
			@Html.DisplayNameFor(model => model.OrgName)
		</th>
		<th>
			@*@Html.DisplayNameFor(model => model.OrgType.OrgTypeName)*@
		</th>
		<th>
			@Html.DisplayNameFor(model => model.OrgAddress)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CreationDate)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.OrgId)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.OrgName)
			</td>

			<td>
				@*@Html.DisplayFor(modelItem => item.OrgType.OrgTypeName)*@
			</td>

			<td>
				@Html.DisplayFor(modelItem => item.OrgAddress)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CreationDate)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.OrgId }) |
				@Html.ActionLink("Details", "Details", new { id = item.OrgId }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.OrgId })
			</td>
		</tr>
	}

</table>

