@model IEnumerable<Dertrix.Models.GroupType>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped table-hover table-responsive ">

	<tr>
		<th>
			@Html.DisplayNameFor(model => model.GroupTypeName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.GroupOrgTypeId)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.GroupRefNumb)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.GroupTypeName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.GroupOrgTypeId)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.GroupRefNumb)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.GroupTypeId }) |
				@Html.ActionLink("Details", "Details", new { id = item.GroupTypeId }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.GroupTypeId })
			</td>
		</tr>
	}

</table>
