@model IEnumerable<Dertrix.Models.GroupType>

<head>
    @{
        ViewBag.Title = "Group type table";
        var regUserOrgNavBar = Session["regOrgBrandButtonColour"].ToString();
    }
    <style>
		.der-body-content{
            border-color: @regUserOrgNavBar;
            border-style: double;
         }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.css" />
    <link href="~/Main/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<div id="content" class="der-body-content der-clearfix">
    <br />
    <br />
    <div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                @{
                    Html.RenderAction("AddGroupType", "GroupTypes");
                }
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <hr />
    <br />



    <div class="panel panel-default">
        <table id="myTable" class="table table-bordered table-condensed table-striped table-hover table-responsive standard">
            <thead>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupTypeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupOrgTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupRefNumb)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="border-style: groove;">
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupOrgTypeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupRefNumb)
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" style="background-color:white">
                                    <li><a href="#" onclick="EditGroup(@item.GroupTypeId)">Edit group </a></li>
                                    @*<li><a href="#" onclick="ConfirmDelete(@item.GroupTypeId)">Remove group</a></li>*@
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

        <div>
            <p>@Html.ActionLink("Back", "SysAdminSetUp", "Home", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<input type="hidden" id="hiddenGroupId" />

@*Delete confirmation Modal*@
<div class="modal fade" id="GroupDeleteModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Remove group</h3>
			</div>
			<div class="modal-body">
				<h3>Are you sure you want to remove this group?</h3>
			</div>
			<div class="modal-footer">
				<a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
				<a href="#" class="RegUserOrgButtonColour" onclick="DeleteGroup()">Confirm</a>
			</div>
		</div>
	</div>
</div>
@*Edit group Modal*@
<div class="modal fade" id="GroupEditModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Edit group</h3>
			</div>
			<div class="modal-body" id="groupEditBody"></div>
			<div class="modal-footer">
				<input type="button" value="Cancel" class="RegUserOrgButtonColour" id="cancel" data-dismiss="modal" />
				<input type="button" value="Update" class="RegUserOrgButtonColour" id="edtSubmit" />
			</div>
		</div>
	</div>
</div>
<script>
	var ConfirmDelete = function (GroupId) {
		$("#hiddenGroupId").val(GroupId);
		$("#GroupDeleteModal").modal('show');
	}
	var DeleteGroup = function () {
		var grp = $("#hiddenGroupId").val();
		$.ajax({
			type: "POST",
			url: "/GroupTypes/DeleteConfirmed/",
			data: { id: grp },
			success: function (response) {
				alert("Group deleted");
				$("#GroupDeleteModal").modal("hide");
				window.location.reload();
			}
		})
	}
</script>
<script>
	var EditGroup = function (Id) {
		$.ajax({
			type: "GET",
			url: "/GroupTypes/EditGroupType",
			data: { Id: Id },
			success: function (response) {
				$("#groupEditBody").html(response);
				$("#GroupEditModal").modal("show");
			}
		})
	}
</script>
<script>
	$("#edtSubmit").click(function () {
		var data = $("#GroupTypeEditForm").serialize();
		$.ajax({
			type: "POST",
			url: "/GroupTypes/Edit",
			data: data,
			success: function (response) {
				alert("Group updated");
				$("#GroupEditModal").modal("hide");
				$("#GroupTypeEditForm")[0].reset();
				window.location.reload();
			}
		})
	})
</script>



@section scripts{
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/custom-validator")
    <script src="~/Scripts/jquery-ui-1.13.1.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#myTable').DataTable(
				{
					"ordering": false,
				}
			);
		});
	</script>

}
