@model Dertrix.Models.StudentGuardian

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentGuardian</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Guardian.GuardianFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guardian.GuardianFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisteredUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisteredUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianEmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianEmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentGuardianId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
