@model Dertrix.Models.StudentSubject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentSubject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegisteredUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisteredUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentSubjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
