@model IEnumerable<Dertrix.Models.StudentSubject>
<head>



	@{
		var regUserOrgNavBar = Session["regUserOrgNavBar"].ToString();
	}

	<link href="~/Main/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.css" />


	@{
		ViewBag.Title = "My Class";
	}
	<style>
		.btn-group:hover .dropdown-menu {
			display: block;
		}
		.nav-pills > li {
			float: left;
			border-style: double;
			border-color:  @regUserOrgNavBar;

		}
	</style>




</head>

<div class="jumbotron" style="height:100vh;">
	<div class="container">
		<ul class="nav nav-pills" role="tablist">
			<li role="presentation" class="active" id="MyClassCountWidget" onclick="DisplayModal()">
				<a href="#">
					<i class="fa fa-list-ol fa-2x" aria-hidden="true"></i>
					My classes <span class="badge">
						@{
							Html.RenderAction("MyClassCount", "Class");
						}
					</span>
				</a>
			</li>


		</ul>
	</div>


	<hr />

	<div class="panel panel-default">
		<table id="myTable" class="table table-bordered table-condensed table-striped table-hover table-responsive">
			<thead>
				<tr style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; background-color:white; border-style: groove; border-left: none; border-right:none; ">
					<th>
						Student Id
					</th>
					<th>
						@Html.DisplayNameFor(model => model.RegisteredUser.FullName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.SubjectName)
					</th>

					<th>
						@Html.DisplayNameFor(model => model.FirstTermStudentGrade)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.SecondTermStudentGrade)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.ThirdTermStudentGrade)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.OrderBy(i => i.RegisteredUser.FullName))
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.RegisteredUser.RegisteredUserId)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.RegisteredUser.FullName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.SubjectName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.FirstTermStudentGrade)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.SecondTermStudentGrade)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ThirdTermStudentGrade)
						</td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Action <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" style="background-color:white">
									<li><a href="#" onclick="UpdateStudentGrade(@item.StudentSubjectId)">Update grades</a></li>
								</ul>
							</div>
						</td>

					</tr>
				}

			</tbody>

		</table>
	</div>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<input type="hidden" id="hiddenDomainId" />



@*Update grades modal*@
<div class="modal fade" id="myModalUpdateSubject">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Update student grades</h3>
			</div>
			<div class="modal-body" id="myModalBodyDiv2"></div>
			<div class="modal-footer">
				<input type="button" value="Cancel" class="RegUserOrgButtonColour" id="cancel" data-dismiss="modal" />
				<input type="button" value="Update" class="RegUserOrgButtonColour" id="updateGrade" />
			</div>
		</div>
	</div>
</div>


@*Display MyclassList modal*@
<div class="modal fade" id="ClasslistModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Select Class</h3>
			</div>
			<div class="modal-body" id="ClassListModalbody"></div>
			<div class="modal-footer">
				<input type="button" value="Cancel" class="RegUserOrgButtonColour" id="cancel" data-dismiss="modal" />
			</div>
		</div>
	</div>
</div>







@section scripts{
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.23/datatables.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#myTable').DataTable(
				{
					"ordering": false,
				}
			);
		});
	</script>
}




<script>
	var UpdateStudentGrade = function (Id) {
		$.ajax({
			type: "GET",
			url: "/StudentSubjects/UpdateStudentGrade",
			data: { Id: Id },
			success: function (response) {
				$("#myModalBodyDiv2").html(response);
				$("#myModalUpdateSubject").modal("show");
			}
		})
	}
</script>


<script>
	$("#updateGrade").click(function () {
		var data = $("#UpdateStudentGradeForm").serialize();
		$.ajax({
			type: "POST",
			url: "/StudentSubjects/Edit",
			data: data,
			success: function (response) {
				alert("Grade Updated");
				$("#myModalUpdateSubject").modal("hide");
				$("#UpdateStudentGradeForm")[0].reset();
				window.location.reload();
			}
		})
	})
</script>

<script>
	var DisplayModal = function (Id) {
		$.ajax({
			type: "GET",
			url: "/Class/MyClassList",
			data: { Id: Id },
			success: function (response) {
				$("#ClassListModalbody").html(response);
				$("#ClasslistModal").modal("show");
			}
		})
	}
</script>



