@model Dertrix.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Org.OrgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Org.OrgName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostTopic.PostTopicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostTopic.PostTopicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCreatorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCreatorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatorFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostExpirtyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostExpirtyDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
